@charset "utf-8";
html{ background-color: #fafafa;color: #212121;font-size: 100px;}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;font-family:tahoma,arial,"Hiragino Sans GB",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%}
h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
*,::before,::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.clr {
    clear: both;
    height: 0;
    overflow: hidden
}
.clrfix {
    zoom: 1
}
.clrfix:after {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    content: "."
}
@font-face{
    font-family:ydocfont;
    font-style:normal;
    font-weight:normal;
    src:url(./fonts/ydoc.eot?v=1.0.0);
    src:url(./fonts/ydoc.eot?#iefix&#iefix&amp;v=1.0.0) format('embedded-opentype'),url(./fonts/ydoc.woff?v=1.0.0) format('woff'),url(./fonts/ydoc.ttf?v=1.0.0) format('truetype'),url(./source/fonts/ydoc.svg?v=1.0.0#icomoonregular) format('svg')}
.ydoc{
  font-size: .14rem;

  &-header{
    // height: .48rem;
    line-height: .48rem;
    color: #3b3b3b;
    font-size: .14rem;
    text-align: right;
    padding: 0 .2rem;
    overflow: hidden;
    &-area{
        margin:0 auto;
    }
    a{
      color:#000;
    }
  }
  .navbar-brand{
    width:auto;
    float:left;
    >li{
      float:left;
    }
  }
  &-nav{
    font-size: .14rem;
    color:#fff;
    li{
      float:left;
      a{
        padding: 0 15px;
      }
      a:hover{
         color:#ff503f;
      }
    }
    .navbar-right{
      float: right;
    }
    .navbar-left{
      float: left;
    }
    .active{
      color:#ff503f;
      a{
        color:#ff503f;
      }
    }
  }
  &-second-header{
    background: #252a31;
    a{
      color:#fff;
    }
    .ydoc-nav{
        float: right;
    }
  }
  .ydocIcon{
      font-family: ydocfont;
  }
  .navbar-toggle{
      float: right;
      font-size: .22rem;
      display: none;
      background: none;
      border:none;
      cursor: pointer;
  }
  &-banner{
    background-color: #ff503f;
    // background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
    // background-image: -webkit-linear-gradient(top,#f6f6f6 0,#f1f1f1 100%);
    // background-image: -o-linear-gradient(top,#f6f6f6 0,#f1f1f1 100%);
    // background-image: linear-gradient(to bottom,#f6f6f6 0,#f1f1f1 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f1f1f1', GradientType=0);
    // background-repeat: repeat-x;
    color:#fff;
    font-size:.18rem;
    padding: 20px 30px;
    // text-shadow: 0 1px 0 rgba(0,0,0,.1);
    &-area{
      margin: 0 auto;
      h1{
        font-size:.28rem;
        margin-bottom: .1rem;
        color:#fff;
      }
      p{
        margin-right: 3rem;
        line-height: 1.7;
        margin: 0 0 10px;
        color:#fff;
      }
    }
  }
  .footer{
      margin: 50px 0;
      text-align: center;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      padding: 40px 0 60px;
      width: 100%;
      color:#fff;
      background: #252a31;
      font-size: 14px;
      .copyright {
          font-size: 14px;
          text-align: center;
          color: #a1a1a1;
      }
  }

  &-container{
    &-content{
      overflow:hidden;
      background: #f1f1f1;
      margin:20px auto;
      .content-left,.content-right{float:left; }
      .content-left{
         box-sizing: border-box;
         width: 75%;
         background: #fff;
         padding:15px;
         float: right;
      }
      .right{
          float: right;
      }
      .content-right{
         width: 25%;
        //  background: #f6f6f6;
      }
      .ydoc-example{
          position: relative;
          overflow: hidden;
          code{
              overflow: hidden;
              display: block;
          }
          .fold,.extend{ color:#337ab7; position: absolute; left:15px; bottom:10px; cursor: pointer;}
          .fold:hover,.extend:hover{  text-decoration: underline; }
      }

      .sidebar{
          width: 100%;
          position: relative;
          .fixed{
              position: fixed;
              top:0;
              height: 100%;
              overflow-y: auto;
              overflow-x: hidden;
              background: #f6f6f6;
          }
          .docs-sidenav{
              width: 100%;
              overflow: hidden;
              >li{
                  height: .5rem;
                  width: 100%;
                  overflow: hidden;
                  a{
                      height: .5rem;
                      line-height: .5rem;
                      color:#888;
                      display: inline-block;
                      width: 100%;
                      position: relative;
                      padding-left:5px;
                      text-indent: .15rem;
                      margin:0 3px;
                      font-family: ydocfont;
                  }
                  a:hover{
                      padding-left:0;
                      border-left:5px solid #ff503f;
                      color:#ff503f;
                  }
                   a:hover::after{
                      content:"\f07f";
                      display: block;
                      position: absolute;
                      right:10px;
                      top:.05rem;
                      color:#ff503f;
                  }
              }
              >li.active{
                  a,a:hover{
                      border-left:5px solid #ff503f;
                      color:#ff503f;
                      padding-left:0;
                  }
                  a::after{
                     content:"\f07f";
                     display: block;
                     position: absolute;
                     right:10px;
                     top:.05rem;
                     color:#ff503f;
                 }
              }
              ul{
                 width: 100%;
                 display: none;
                 margin-left:20px;
                 color:red;
                li{
                    height: .5rem;
                    a{
                        font-family: ydocfont;
                        height: .5rem;
                        line-height: .5rem;
                        width: 100%;
                        position: relative;
                        display: block;
                        color:#888;
                        //background: red;
                        text-indent: .1rem;
                    }
                    a:hover{
                        color:#ff503f;
                    }
                    a:hover::before{
                        content:"\f083";
                        font-size: .12rem;
                        display: block;
                        position: absolute;
                        left: -0.15rem;
                        top:0;
                        color:#ff503f;
                    }
                }
                li.active{
                    a,a:hover{
                        color:#ff503f;
                    }
                    a::before{
                        content:"\f083";
                        font-size: .12rem;
                        display: block;
                        position: absolute;
                        left: -0.15rem;
                        top:0;
                        color:#ff503f;
                    }
                }
              }
          }
      }

        .docs-section{
            margin:10px;
        }
    }
  }
}

@media screen and (min-width:1200px){
  // body{ background: red;}
  .ydoc-header-area,.ydoc-banner-area,.ydoc-container-content{
    width:1200px;
  }
}
@media screen and (min-width:992px) and (max-width: 1199px) {
  body{ background: blue;}
  .ydoc-header-area,.ydoc-banner-area,.ydoc-container-content{
    width:992px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body{ background: green;}
  .ydoc-header-area,.ydoc-banner-area,.ydoc-container-content{
    width:768px;
  }
}
@media screen and (max-width: 767px) {
  // body{ background: yellow;}
  .ydoc-container-content {
      .content-left{ width: 100%;}
      .content-right{ display: none;}
  }
  .ydoc-header-area,.ydoc-banner-area,.ydoc-container-content{
    width:100%;
  }
  .ydoc{
      .navbar-toggle{
         display: inline-block;;
      }
      .ydoc-nav{
          display: none;
          clear: both;
          width: 100%;
          .navbar-left,.navbar-right{
              width: 100%;
              li{
                  width: 100%;
                  text-align:left;
                  display: inline-block;
                  a{
                      padding:0;
                      width:100%;
                      display: inline-block;
                  }
                  a:hover{
                      color:#ff503f;
                  }
              }
          }

      }
      .ydoc-banner{
        //   display: none;
      }
  }
  // .ydoc-header{ display:none; }
  .ydoc-second-header{ display: block;
    .ydoc-nav{
        display:block;
        li{
            float: left;
        }
    }
  }
}

/*     markdown begin       */
@import "markdown";
