<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="{{sourceDir}}/shCoreDefault.css"/>
    <link rel="stylesheet" href="{{sourceDir}}/app.css" rel="stylesheet" />
    <script type="text/javascript" src="{{sourceDir}}/shCore.js"></script>
    <script type="text/javascript" src="{{sourceDir}}/shBrush-{{type}}.js"></script>
    <style>
        .syntaxhighlighter .number1 .spaces,.syntaxhighlighter .toolbar{ display: none;}
        .syntaxhighlighter table td.gutter .line.highlight { background-color: #6ce26c !important; color: white; }
    </style>
</head>
<body style="background: white; font-family: Helvetica">
<div class="docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>{{title}}</h1>
        <p>源代码</p>
    </div>
</div>
<div class="container docs-container">

    <div class="row">
        <div class="col-md-9" role="main">
        <pre class="brush: {{type}};">
{{content}}
        </pre>
        </div>
    </div>
</div>

<footer class="docs-footer" role="contentinfo">
    <div class="container">
        <p>{{footer}}</p>
    </div>
</footer>
<script type="text/javascript">
    SyntaxHighlighter.all();

    function getTop(node){
        return node.offsetTop + (node.offsetParent ? getTop(node.offsetParent) : 0);
    }

    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            try {
                var lineNum = (parseInt(location.hash.replace(/#/g, '')) - 1) || 0,
                    node = document.querySelectorAll('div.line')[lineNum];
                document.body.scrollTop = getTop(node);
                node.className += ' highlight';
            } catch(e) {}
        }, 500);
    }, false);
</script>
</body>
</html>
