<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
  <meta name="description" content="description of your site">
  <meta name="author" content="author of the site">
  <title>{{title}}</title>
  <link rel="stylesheet" href="source/app.css"/>
</head>
<body>
    <div class="ydoc">

      <header class="ydoc-header">
        <div class="ydoc-header-area">
            {{if home}}
            <a href="{{homeUrl}}" class="navbar-brand">{{home}}</a>
            {{/if}}
            <nav class="ydoc-nav">
              <ul class="{{if navbars && navbars.length}}navbar-right{{else}}navbar-left{{/if}}">
                {{if navbars && navbars.length}}
                {{each navbars as navbar}}
                <li class="{{if navbar.active}}active{{/if}}">
                    <a href="{{navbar.url}}" target="">{{navbar.name}}</a>
                </li>
                {{/each}}
                {{else}}
                    {{each tabs as tab}}
                    <li class="{{if tab.active}}active{{/if}}">
                        {{if tab.url}}
                        <a href="{{tab.url}}" target="_blank">{{tab.title}}</a>
                        {{else}}
                        <a href="{{tab.name}}.html">{{tab.title}}</a>
                        {{/if}}
                    </li>
                    {{/each}}
                {{/if}}
              </ul>
            </nav>
        </div>
    </header>
      <!-- Docs page layout -->
      {{if banner}}
      <div class="ydoc-banner">
          <div class="ydoc-banner-area">
              <h1>{{banner.title}}</h1>
              <p>{{banner.description}}</p>
          </div>
      </div>
      {{else}}
      <hr style="margin: 0"/>
      {{/if}}

      <div class="ydoc-container">
        {{if article.type == 'html'}}
          {{if article.sidebars}}
          <div class="ydoc-container-content">
              <div class="content-left markdown-body">
                {{if intro}}{{intro}}{{/if}}
                {{article.content}}
              </div>
              <div class="content-right">
                  <nav class="sidebar">
                    <ul class="nav docs-sidenav">
                        {{each article.sidebars as m index}}
                        {{if m.sub}}
                        {{if index > 0 && !article.sidebars[index - 1].sub}}
                        <ul class="nav" style="display:block">
                        {{/if}}
                            <li>
                                <a href="{{m.tag || m.url || ('#' + m.name)}}" {{if article.name == m.name}}style="color:#0088a4"{{/if}}>{{m.name}}</a>
                            </li>
                        {{if index < article.sidebars.length - 1 && !article.sidebars[index + 1].sub}}
                        </ul>
                        {{/if}}
                        {{else}}
                        <li>
                            {{if m.blank == true}}
                            <span>{{m.name}}</span>
                            {{else}}
                            <a href="{{m.tag || m.url || ('#' + m.name)}}" {{if article.name == m.name}}style="color:#0088a4"{{/if}}>{{m.name}}</a>
                            {{/if}}
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                  </nav>
              </div>
          </div>
          {{else}}
          <div id="readme">
              <article class="markdown-body">
                  {{if intro}}{{intro}}{{/if}}
                  {{article.content}}
              </article>
          </div>
          {{/if}}
        {{else if article.type == 'block'}}
        <div class="ydoc-container-content">
            <div class="content-left">
              {{if intro}}
              <div class="markdown-body">{{intro}}</div>
              {{/if}}
              {{each article.blocks as c index}}
              {{if c.type == 'html'}}
              <div class="docs-section">
                  {{if c.name}}
                  {{if c.sub}}
                  <h2 id="{{c.name}}" class="page-header">{{c.name}}</h2>
                  {{else}}
                  <h1 id="{{c.name}}" class="page-header">{{c.name}}</h1>
                  {{/if}}
                  {{/if}}
                  {{if c.content}}
                  <div class="markdown-body">
                      {{c.content}}
                  </div>
                  {{/if}}
              </div>
              {{/if}}
              {{/each}}
            </div>
            {{if article.sidebars}}
            <div class="content-right">
              <nav class="sidebar">
                <ul class="nav docs-sidenav">
                  {{each article.sidebars as m index}}
                  {{if m.sub}}
                  {{if index > 0 && !article.sidebars[index - 1].sub}}
                  <ul class="nav" style="display:block">
                  {{/if}}
                      <li>
                          <a href="{{m.tag || m.url || ('#' + m.name)}}">{{m.name}}</a>
                      </li>
                  {{if index < article.sidebars.length - 1 && !article.sidebars[index + 1].sub}}
                  </ul>
                  {{/if}}
                  {{else}}
                  <li>
                      <a href="{{m.tag || m.url || ('#' + m.name)}}">{{m.name}}</a>
                  </li>
                  {{/if}}
                  {{/each}}
                </ul>
              </nav>
            </div>
            {{/if}}
        </div>
        {{/if}}
      </div>

      <footer class="footer">
        <div class="copyright">
            {{footer}}
        </div>
      </footer>




    </div>
    <script>
    $(document).ready(function() {
        $('code').each(function(i, block) {
            if (block.innerHTML.indexOf('\n') != -1) {
                var pn = block.parentNode;
                if (pn.tagName.toUpperCase() == 'PRE') {
                    try {
                        hljs.highlightBlock(block);
                    } catch(e) {}
                } else {
                    pn.innerHTML = '<pre><code>' + block.innerHTML + '</code></pre>';
                    try {
                        hljs.highlightBlock(pn.childNodes[0].childNodes[0]);
                    } catch(e) {}
                }
            }
            });
        });
    </script>
</body>
</html>
