<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
  <meta name="description" content="description of your site">
  <meta name="author" content="author of the site">
  <title>{{title}}</title>
  <link rel="stylesheet" href="source/app.css"/>
  <link rel="stylesheet" href="source/highlight.min.css"/>
</head>
<body>
    <div class="ydoc">

      <header class="ydoc-header">
        <div class="ydoc-header-area">
            {{if home}}
            <a href="{{homeUrl}}" class="navbar-brand">{{home}}</a>
            {{/if}}
            <button class="ydocIcon navbar-toggle">&#xf020;</button>
            <nav class="ydoc-nav">
              <ul class="{{if navbars && navbars.length}}navbar-right{{else}}navbar-left{{/if}}">
                {{if navbars && navbars.length}}
                {{each navbars as navbar}}
                <li class="{{if navbar.active}}active{{/if}}">
                    <a href="{{navbar.url}}" target="">{{navbar.name}}</a>
                </li>
                {{/each}}
                {{else}}
                    {{each tabs as tab}}
                    <li class="{{if tab.active}}active{{/if}}">
                        {{if tab.url}}
                        <a href="{{tab.url}}" target="_blank">{{tab.title}}</a>
                        {{else}}
                        <a href="{{tab.name}}.html">{{tab.title}}</a>
                        {{/if}}
                    </li>
                    {{/each}}
                {{/if}}
              </ul>
            </nav>
        </div>
    </header>
    {{if navbars && navbars.length}}
    <header class="ydoc-header ydoc-second-header">
        <div class="ydoc-header-area">
            <nav class="ydoc-nav">
                <ul>
                    {{each tabs as tab}}
                    <li class="{{if tab.active}}active{{/if}}">
                        {{if tab.url}}
                        <a href="{{tab.url}}" target="_blank">{{tab.title}}</a>
                        {{else}}
                        <a href="{{tab.name}}.html">{{tab.title}}</a>
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            </nav>
        </div>
    </header>
    {{else}}
    <!-- <header style="height:20px"></header> -->
    {{/if}}
      <!-- Docs page layout -->
      {{if banner}}
      <div class="ydoc-banner">
          <div class="ydoc-banner-area">
              <h1>{{banner.title}}</h1>
              <p>{{banner.description}}</p>
          </div>
      </div>
      {{/if}}




      <div class="ydoc-container">
        {{if article.type == 'html'}}
          {{if article.sidebars}}
          <div class="ydoc-container-content">
              <div class="content-right">
                  <nav class="sidebar">
                    <ul class="nav docs-sidenav">
                        {{each article.sidebars as m index}}
                        {{if m.sub}}
                        {{if index > 0 && !article.sidebars[index - 1].sub}}
                        <ul class="docs-sidenav-extend" {{if article.name == m.name}} style="display:block;" {{/if}}>
                        {{/if}}
                            <li {{if article.name == m.name}} class="active" {{/if}}>
                                <a href="{{ m.tag || m.url || ('#' + m.name)}}">{{m.name}}</a>
                            </li>
                        {{if index < article.sidebars.length - 1 && !article.sidebars[index + 1].sub}}
                        </ul>
                        {{/if}}
                        {{else}}
                        <li {{if article.name == m.name}} class="active" {{/if}}>
                            {{if m.blank == true}}
                            <a href="javascript:void(0);">{{m.name}}</a>
                            {{else}}
                            <a href="{{ m.tag || m.url || ('#' + m.name)}}">{{m.name}}</a>
                            {{/if}}
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                  </nav>
              </div>
              <div class="content-left markdown-body">
                {{if intro}}{{intro}}{{/if}}
                {{article.content}}
              </div>
          </div>
          {{else}}
          <div class="ydoc-container-content" id="readme">
              <article class="markdown-body">
                  {{if intro}}{{intro}}{{/if}}
                  {{article.content}}
              </article>
          </div>
          {{/if}}
        {{else if article.type == 'block'}}
        <div class="ydoc-container-content">
            {{if article.sidebars}}
            <div class="content-right">
              <nav class="sidebar">
                <ul class="nav docs-sidenav">
                  {{each article.sidebars as m index}}
                  {{if m.sub}}
                  {{if index > 0 && !article.sidebars[index - 1].sub}}
                  <ul class="nav">
                  {{/if}}
                      <li>
                          <a href="{{ m.tag || m.url || ('#' + m.name)}}">{{m.name}}</a>
                      </li>
                  {{if index < article.sidebars.length - 1 && !article.sidebars[index + 1].sub}}
                  </ul>
                  {{/if}}
                  {{else}}
                  <li>
                      <a href="{{ m.tag || m.url || ('#' + m.name)}}">{{m.name}}</a>
                  </li>
                  {{/if}}
                  {{/each}}
                </ul>
              </nav>
            </div>
            {{/if}}
            <div class="content-left right markdown-body">
              {{if intro}}
              <div>{{intro}}</div>
              {{/if}}
              {{each article.blocks as c index}}
              {{if c.type == 'html'}}
              <div class="docs-section">
                  {{if c.name}}
                  {{if c.sub}}
                  <h3 id="{{c.name}}" class="page-header">{{c.name}}</h2>
                  {{else}}
                  <h2 id="{{c.name}}" class="page-header">{{c.name}}</h1>
                  {{/if}}
                  {{/if}}
                  {{if c.content}}
                  <div>
                      {{c.content}}
                  </div>
                  {{/if}}
              </div>
              {{/if}}
              {{/each}}
            </div>
        </div>
        {{/if}}
      </div>

      <footer class="footer">
        <div class="copyright">
            {{footer}}
        </div>
      </footer>
    </div>
    <script src="source/jquery.min.js"></script>
    <script src="source/highlight.min.js"></script>
    <script src="source/app.js"></script>
</body>
</html>
