.popover{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    left: 20px;
    right: 20px;
    position: absolute;
    /*box-shadow: 0 0 5px rgba(204,204,204,0.5);*/
    flex-direction: row;
    &Layout {
        background: rgba(0, 0, 0, 0.2);
        align-items: center;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    &Text {
        color: #212121;
        font-size: 16px;
        text-align: center;
        align-self: center;
        flex: 1;
    }
}
.modal {
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.actionSheet {
    left: 4px;
    right: 4px;
    bottom: 4px;
    position: absolute;
    &Layout{
        flex: 1;
    }
    &Action, &Menu {
        flex-direction: column;
        border-radius: 4px;
        overflow: hidden;
        background: #fff;
    }
    &Action {
        margin-top: 8px;
    }
    &Button {
        height: 38px;
        flex: 1;
        justify-content: center;
        &Text {
            color: #212121;
            text-align: center;
        }
        &Border{
            border-bottom: 1px solid #ccc;
        }
    }
    &Cell{

    }
}