@charset "utf-8";
@import "../../../style/usage/core/reset";
@import "../../../style/usage/fragment/yo-tab";

.yo-icon-img {
    .item {
        img {
            margin: 0 auto;
        }
        &-y-ico {
            padding-top: .04rem;
            line-height: .2rem;
            font-size: .12rem;
            img {
                width: .2rem;
                height: .2rem;
            }
        }
        &-x-ico {
            font-size: .14rem;
            img {
                width: .12rem;
                height: .12rem;
            }
        }
        &-only-ico {
            img {
                height: .28rem;
                width: .28rem;

            }
        }
    }

}

.yo-tab-test {
    width: 2rem;
    border-radius: 0.05rem;
    font-size: 0.12rem;
    margin: auto;
}
