<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>list - 列表</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<script src="../../js/viewport.js"></script>
<link rel="stylesheet" href="../../usage/export/yo-list.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">yo-list</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
    </header>
    <div class="flex">
        <section class="m-list">
            <div class="yo-list yo-list-group">
                <h3 class="label">常规列表：</h3>
                <div class="item">list item</div>
                <div class="item">list item</div>
                <div class="item">list item</div>
                <div class="item">list item</div>
            </div>
        </section>
        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><ul class="yo-list">
    <li class="item">list item</li>
    ...
</ul></xmp>
        </section>

        <section class="m-list">
            <ul class="yo-list yo-list-group">
                <li class="label">常规列表：</li>
                <li class="item">
                    <span class="mark">标题</span>
                    <div class="flex">具体描述</div>
                </li>
                <li class="item">
                    <span class="mark">标题</span>
                    <div class="flex">具体描述</div>
                </li>
                <li class="item">
                    <span class="mark">标题</span>
                    <div class="flex">具体描述</div>
                </li>
                <li class="item">
                    <span class="mark">标题</span>
                    <div class="flex">具体描述</div>
                </li>
            </ul>
        </section>
        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><ul class="yo-list">
    <li class="item">
        <span class="mark">标题</span>
        <div class="flex">具体描述</div>
    </li>
    ...
</ul></xmp>
        </section>

        <section class="m-list">
            <div class="yo-list">
                <h3 class="label">list group</h3>
                <a href="#" class="item">list item</a>
                <a href="#" class="item">list item</a>
                <h3 class="label">list group</h3>
                <a href="#" class="item">list item</a>
                <a href="#" class="item">list item</a>
                <h3 class="label">list group</h3>
                <a href="#" class="item">list item</a>
                <a href="#" class="item">list item</a>
            </div>
        </section>
        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><div class="yo-list">
    <h3 class="label">list group</h3>
    <a href="#" class="item">list item</a>
    <a href="#" class="item">list item</a>
    ...
</div></xmp>
        </section>

        <section class="m-list">
            <ul class="yo-list">
                <li class="label">ico list</li>
                <li class="item">
                    <i class="yo-ico">&#xf04a;</i>
                    <div class="flex">飞行模式</div>
                    <label class="yo-switch">
                        <input type="checkbox" />
                        <div class="track">
                            <span class="handle"></span>
                        </div>
                    </label>
                </li>
                <li class="item">
                    <i class="yo-ico">&#xf04b;</i>
                    <div class="flex">WIFI</div>
                </li>
                <li class="item">
                    <i class="yo-ico">&#xf04a;</i>
                    <div class="flex">蓝牙</div>
                </li>
                <li class="item item-active">
                    <i class="yo-ico">&#xf063;</i>
                    <div class="flex">运营商</div>
                    <i class="yo-ico">&#xf03e;</i>
                </li>
            </ul>
        </section>
        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><div class="yo-list">
    <li class="item">
        <i class="yo-ico">&#xf04a;</i>
        <div class="flex">飞行模式</div>
        <label class="yo-switch">
            <input type="checkbox" />
            <div class="track">
                <span class="handle"></span>
            </div>
        </label>
    </li>
    <li class="item">
        <i class="yo-ico">&#xf04b;</i>
        <div class="flex">WIFI</div>
    </li>
</div></xmp>
        </section>

        <section class="m-list">
            <div class="yo-list yo-list-group">
                <h3 class="label">图片列表：</h3>
                <a href="#" class="item item-active">
                    <div class="mark">
                        <img src="http://pic5.duowan.com/psp/1005/138297782616/138298560095.jpg" alt="美女" />
                    </div>
                    <div class="flex">
                        <h3>标题栏</h3>
                        <p>这是一张很漂亮的图片</p>
                    </div>
                </a>
                <a href="#" class="item item-active">
                    <div class="mark">
                        <img src="http://pic5.duowan.com/psp/1005/138297782616/138298560095.jpg" alt="美女" />
                    </div>
                    <div class="flex">
                        <h3>标题栏</h3>
                        <p>这是一张很漂亮的图片</p>
                    </div>
                </a>
                <a href="#" class="item item-active">
                    <div class="mark">
                        <img src="http://pic5.duowan.com/psp/1005/138297782616/138298560095.jpg" alt="美女" />
                    </div>
                    <div class="flex">
                        <h3>标题栏</h3>
                        <p>这是一张很漂亮的图片</p>
                    </div>
                </a>
                <a href="#" class="item item-active">
                    <div class="mark">
                        <img src="http://pic5.duowan.com/psp/1005/138297782616/138298560095.jpg" alt="美女" />
                    </div>
                    <div class="flex">
                        <h3>标题栏</h3>
                        <p>这是一张很漂亮的图片</p>
                    </div>
                </a>
            </div>
        </section>
        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><div class="yo-list">
    <a href="#" class="item item-active">
        <div class="mark">
            <img src="*.jpg" alt="美女" />
        </div>
        <div class="flex">
            <h3>标题栏</h3>
            <p>这是一张很漂亮的图片</p>
        </div>
    </a>
    ...
</div></xmp>
        </section>

        <section class="m-list">
            <ul class="yo-list">
                <li class="label tr">
                    <div class="col c1">第1列</div>
                    <div class="col c2 flex">第2列</div>
                    <div class="col c3">第3列</div>
                    <div class="col c4">第4列</div>
                </li>
                <li class="item tr">
                    <div class="col c1">name</div>
                    <div class="col c2 flex">name</div>
                    <div class="col c3">name</div>
                    <div class="col c4">name</div>
                </li>
                <li class="item tr">
                    <div class="col c1">name</div>
                    <div class="col c2 flex">name</div>
                    <div class="col c3">name</div>
                    <div class="col c4">name</div>
                </li>
                <li class="item tr">
                    <div class="col c1">name</div>
                    <div class="col c2 flex">name</div>
                    <div class="col c3">name</div>
                    <div class="col c4">name</div>
                </li>
            </ul>
        </section>
        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><ul class="yo-list">
    <li class="label tr">
        <div class="col c1">第1列</div>
        <div class="col c2 flex">第2列</div>
        <div class="col c3">第3列</div>
        <div class="col c4">第4列</div>
    </li>
    <li class="item tr">
        <div class="col c1">name</div>
        <div class="col c2 flex">name</div>
        <div class="col c3">name</div>
        <div class="col c4">name</div>
    </li>
    ...
</ul></xmp>
        </section>

        <pre class="m-code"><span class="method">@include yo-list</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{String} yo-list名称</mark>
    $margin<span class="colon">:</span>default, <mark>//{Length} yo-list外边距</mark>
    $radius<span class="colon">:</span>default, <mark>//{Length} yo-list圆角</mark>
    $border-width<span class="colon">:</span>default, <mark>//{Length} 外边框厚度</mark>
    $bordercolor<span class="colon">:</span>default, <mark>//{Color} yo-list边框色</mark>
    $item-padding<span class="colon">:</span>default, <mark>//{Length} yo-list项的内补白</mark>
    $label-padding<span class="colon">:</span>default, <mark>//{Length} yo-list分组标题内补白</mark>
    $label-bgcolor<span class="colon">:</span>default, <mark>//{Color} yo-list分组标题背景色</mark>
    $active-bgcolor<span class="colon">:</span>default, <mark>//{Color} yo-list项的激活背景色</mark>
    $on-bgcolor<span class="colon">:</span>default, <mark>//{Color} yo-list项的选中背景色</mark>
    $on-color<span class="colon">:</span>default, <mark>//{Color} yo-list项的选中文本色</mark>
    $item-bordercolor<span class="colon">:</span>default, <mark>//{Color} yo-list列表项边框色</mark>
    $label-bordercolor<span class="colon">:</span>default, <mark>//{Color} yo-list列表项组名边框色</mark>
    $item-font-size<span class="colon">:</span>default, <mark>//{Length} yo-list列表项字号</mark>
    $label-font-size<span class="colon">:</span>default, <mark>//{Length} yo-list列表组头字号</mark>
    $item-border-space<span class="colon">:</span>default <mark>//{Length} yo-list列表项底线距左边的间隙</mark>
<span class="bracket">)</span>
</pre>
</div>
</div>



</body>
</html>