<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="stylesheet" href="source/prism.css">
        <link rel="stylesheet" href="source/app.css">
        <style>
        /* blockquote.api {
        padding: 0 10px;
        border-left-color: #1b809e;
        margin-top: 50px;
        }
        table.table {
        border: 1px solid #1b809e;
        }
        table.table>tbody>tr>th {
        border-top: none;
        }
        h4 {
        padding: 20px 0 10px 0;
        border-bottom: 1px solid #eee;
        }*/
        .category-header{
        font-size: 22px;
        text-align: center;
        color: #888;
        font-style: italic;
        }
        </style>
    </head>
    <body>
        <a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>
        <header class="navbar navbar-static-top docs-nav" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a href="http://ued.qunar.com/mobile/" class="navbar-brand">HY</a>
                </div>
                <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="http://ued.qunar.com/mobile/qapp/doc/">QApp</a>
                        </li>
                        <li class="active">
                            <a href="info.html">Kami</a>
                        </li>
                        <li class="">
                            <a href="http://ued.qunar.com/mobile/yo/doc/">Yo</a>
                        </li>
                        <li>
                            <a href="http://hy.qunar.com/source/qunarapi.html" >QunarAPI</a>
                        </li>
                        <li>
                            <a href="http://ued.qunar.com/mobile/qmb2/" target="_blank">QMB2</a>
                        </li>
                        <li>
                            <a href="http://ued.qunar.com/mobile/blog/" target="_blank">Blog</a>
                        </li>
                        <li>
                            <a href="http://hy.qunar.com/">Hytive</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Docs page layout -->
        {{if banner}}
        <div class="docs-header" id="content" tabindex="-1" style="margin-bottom:0">
            <div class="container">
                <h1>{{banner.title}}</h1>
                <p>{{banner.description}}</p>
            </div>
        </div>
        {{else}}
        <hr style="margin: 0"/>
        {{/if}}
        <header class="navbar navbar-static-top docs-second-nav">
            <div class="container">
                <nav>
                    <ul class="nav navbar-nav">
                        {{each menus as menu}}
                            {{if menu.url}}
                            <li class="{{if menu.name == page.name}}active{{/if}}">
                                <a href="{{menu.url}}">{{menu.title}}</a>
                            </li>
                            {{else}}
                            <li class="{{if menu.name == page.name}}active{{/if}}">
                                <a href="{{menu.name}}.html">{{menu.title}}</a>
                            </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container docs-container">

            {{if page.type == 'html'}}
            <div class="row">
                <div class="col-md-9" role="main">
                    <div class="markdown-body">
                        {{#page.content}}
                    </div>
                </div>
                {{if page.menu && page.menu.length }}
                <div class="col-md-3" role="complementary">
                    <nav class="docs-sidebar hidden-print hidden-xs hidden-sm">
                        <ul class="nav docs-sidenav">
                            {{each page.menu as module}}
                            <li>
                                {{module.title}}
                                {{if module.blocks && module.blocks.length}}
                                    <ul class="nav">
                                        {{each module.blocks as block}}
                                            <li>{{block.title}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>
                {{/if}}
            </div>
            {{else if  page.type == 'js'}}
            <div class="row">
                <div class="col-md-9" role="main">
                    <h1 class="page-header">{{page.content.module}}</h1>
                    <p class="page-des">{{page.content.summary}}</p>
                    
                    {{if page.content.propertys && page.content.propertys.length}}
                    <!-- Props -->                    
                    <h2 class="page-props">Props</h2>
                    {{each page.content.propertys as prop}}
                    <div class="prop">
                        <div class="prop-title">
                            {{if prop.platform}}
                            <span class="prop-platform">{{prop.platform}}</span>
                            {{/if}}
                            {{prop.name}}
                            {{if prop.type == "Enum"|| prop.type == "enum"}}
                            <span class="prop-type">{{prop.type}}
                            {{if prop.params && prop.params.length}}
                            ({{each prop.params as param i}}
                            {{if i == 0}}
                            '{{param.name}}'
                            {{else}}
                            ,'{{param.name}}'
                            {{/if}}
                            {{/each}})
                            {{/if}}
                            </span>
                            {{else}}
                            <span class="prop-type">{{prop.type}}</span>
                            {{/if}}
                        </div>
                        <div class="prop-des">{{prop.description}}</div>
                        {{if prop.examples && prop.examples.length}}
                        {{each prop.examples as example}}
                        <div class="prop-examples">
                            <pre><code class="language-javascript">{{example}}</code></pre>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    {{/each}}
                    {{/if}}

                    {{if page.content.methods && page.content.methods.length}}
                    <!-- Method -->                    
                    <h2 class="page-props">Methods</h2>
                    {{each page.content.methods as method}}
                    <div class="method">
                        <div class="method-title">
                            {{method.name}}
                            {{if method.params && method.params.length}}
                            ({{each method.params as param i}}
                            {{if i == 0}}
                            {{param.name}}: {{param.type}}
                            {{else}}
                            ,{{param.name}}: {{param.type}}
                            {{/if}}
                            {{/each}})
                            {{/if}}
                        </div>
                        <div class="method-des">
                            {{method.lead}}
                            {{method.description}}
                        </div>
                        {{if method.examples && method.examples.length}}
                        <div class="method-title">Example:</div>
                        {{each method.examples as example}}
                        <div class="prop-examples">
                            <pre><code class="language-javascript">{{example}}</code></pre>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    {{/each}}
                    {{/if}}


                    <!-- Examples -->
                    {{if page.content.demo}}
                    <h2 class="page-examples">Examples</h2>
                    <pre><code class="language-javascript">{{page.content.demo}}
                    </code></pre>
                    {{/if}}
                    


                </div>
                {{if page.menu && page.menu.length }}
                <div class="col-md-3" role="complementary">
                    <nav class="docs-sidebar hidden-print hidden-xs hidden-sm">
                        <ul class="nav docs-sidenav" id="templateTree">
                            {{each page.menu as module}}
                            <li>
                                {{module.title}}
                                {{if module.blocks && module.blocks.length}}
                                    <ul class="nav">
                                        {{each module.blocks as block}}
                                            <li>{{block.title}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>
                {{/if}}
            </div>
            {{/if}}
        </div>
        <!-- Footer
        ================================================== -->
        <footer class="docs-footer" role="contentinfo">
            <div class="container">
                <p>{{footer}}</p>
            </div>
        </footer>
        <script src="source/jquery.min.js"></script>
        <script src="source/bootstrap.min.js"></script>
        <script src="source/docs.min.js"></script>
        <script src="source/prism.js"></script>
        <script>
            Prism.highlightElement()
        </script>
</body>
</html>