@charset "utf-8";
@import '../../modal/src/style';

@-webkit-keyframes popup-down {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes popup-down {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes popup-up {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, -100%, 0);
    }
}

@keyframes popup-up {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, -100%, 0);
    }
}

.ani.popup-down {
    -webkit-animation-name: popup-down;
    animation-name: popup-down;
}

.ani.popup-up {
    -webkit-animation-name: popup-up;
    animation-name: popup-up;
}
