@charset "utf-8";
@import "../../lib/element/yo-loading";

/**
 * yo-loading扩展
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */

@include yo-loading(
    $name: b,
    $bgcolor: #666,
    $mask-bgcolor: rgba(0, 0, 0, .2),
    $ico-color: #00afc7,
    $color: #00afc7
);