@charset "utf-8";
@import "../../lib/fragment/yo-list";

/**
 * yo-list扩展
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */

@include yo-list(
    $name: inset,
    $margin: .2rem .1rem 0 .1rem,
    $border-width: 1px,
    $radius: .02rem
);

@include yo-list(
    $name: group,
    $label-padding: .18rem .1rem .03rem,
    $label-bordercolor: map-get($base, bordercolor),
    $label-bgcolor: transparent
);