{
    "family": "kami",
    "name": "pagelist",
    "version": "0.1.11",
    "description": "分页列表组件",
    "dependance": {
        "core": "0.0.1",
        "template": "0.0.1",
        "util": "0.0.1",
        "list": "0.0.1"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/pagelist.git"
    }
}