
# kdiff3 ignore
*.orig
node_modules
node_modules/
.sass-cache/

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db


# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz

demo/
./test.js

/coverage
.vscode
package-lock.json
.history