{
    "name": "QDoc",
    "common": {
        "title": "QDoc",
        "footer": "Made By Qunar MFE. © 2014 - 2016",
        "home": "Qunar MFE",
        "homeUrl": "http://ued.qunar.com/mobile/",
        "navbars": []
    },
    "options": {
        "markdown": {
            "menuLevel": 2
        }
    },
    "pages": [{
        "name": "index",
        "title": "开始",
        "banner": {
            "title": "QDoc",
            "description": "开始"
        },
        "content": "./README.md"
    }, {
        "name": "usage",
        "title": "命令",
        "banner": {
            "title": "QDoc",
            "description": "使用"
        },
        "content": "./usage.md"
    }, {
        "name": "config",
        "title": "配置",
        "banner": {
            "title": "QDoc",
            "description": "配置"
        },
        "content": "./config.md"
    }, {
        "name": "comment",
        "title": "注释规则",
        "banner": {
            "title": "QDoc",
            "description": "注释规则"
        },
        "intro": "src/parsers/README.md",
        "content": {
            "sidebar": true,
            "blocks": [{
                "name": "JS-Library",
                "content": "src/parsers/js/Library.md"
            }, {
                "name": "JS-Component",
                "content": "src/parsers/js/Component.md"
            }, {
                "name": "CSS-Library",
                "content": "src/parsers/css/README.md"
            }]
        }
    }, {
        "name": "release",
        "title": "版本",
        "banner": {
            "title": "QDoc",
            "description": "版本"
        },
        "content": "./release.md"
    }]
}
