{
    "name": "QDoc",
    "common": {
        "title": "QDoc",
        "footer": "Made By Qunar Hotel FE Mobile Team. © 2014 - 2016",
        "home": "Qunar MFE",
        "homeUrl": "http://ued.qunar.com/mobile/",
        "navbars": []
    },
    "options": {
        "markdown": {
            "menuLevel": 2
        }
    },
    "pages": [{
        "name": "index",
        "title": "开始",
        "banner": {
            "title": "QDoc",
            "description": "开始"
        },
        "content": "./README.md"
    }, {
        "name": "usage",
        "title": "命令",
        "banner": {
            "title": "QDoc",
            "description": "使用"
        },
        "content": "./usage.md"
    }, {
        "name": "config",
        "title": "配置",
        "banner": {
            "title": "QDoc",
            "description": "配置"
        },
        "content": "./config.md"
    }, {
        "name": "release",
        "title": "版本",
        "banner": {
            "title": "QDoc",
            "description": "版本"
        },
        "content": "./release.md"
    }]
}
