{
    "name": "YDoc",
    "mutiversion": {
        "docbranch": "doc",
        "versions":[{
            "name": "3.0",
            "branch": "3.0"
        },{
            "name": "4.0",
            "branch": "4.0"
        }]
    },
    "common": {
        "title": "YDoc",
        "footer": "&copy; 2016 <a href=\"http://ued.qunar.com/ymfe/\">YMFE</a> Team. Build by <a href=\"http://ued.qunar.com/ydoc/\">ydoc</a>.",
        "home": "YMFE",
        "homeUrl": "http://ued.qunar.com/ymfe/"
    },
    "options": {
        "markdown": {
            "menuLevel": 2
        },
        "staticsidenav": true
    },
    "pages": [{
        "name": "index",
        "title": "开始",
        "banner": {
            "title": "YDoc",
            "description": "前端工程文档生成工具"
        },
        "content": "./README.md"
    }, {
        "name": "usage",
        "title": "命令",
        "banner": {
            "title": "YDoc",
            "description": "使用"
        },
        "content": "./usage.md"
    }, {
        "name": "config",
        "title": "配置",
        "banner": {
            "title": "YDoc",
            "description": "配置"
        },
        "content": "./config.md"
    }, {
        "name": "comment",
        "title": "注释规则",
        "banner": {
            "title": "YDoc",
            "description": "注释规则"
        },
        "intro": "src/parsers/README.md",
        "content": {
            "sidebar": true,
            "blocks": [{
                "name": "JS-Library",
                "content": "src/parsers/js/Library.md"
            }, {
                "name": "JS-Component",
                "content": "src/parsers/js/Component.md"
            }, {
                "name": "CSS-Library",
                "content": "src/parsers/css/README.md"
            }]
        }
    }, {
        "name": "release",
        "title": "版本",
        "banner": {
            "title": "YDoc",
            "description": "版本"
        },
        "content": "./release.md"
    }, {
        "name": "theme",
        "title": "主题",
        "banner": {
            "title": "YDoc",
            "description": "主题"
        },
        "content": "./theme.md"
    },{
        "name":"FAQ",
        "title":"FAQ",
        "url": "http://ymfe.corp.qunar.com/c/ydoc"
    }]
}
