{
    "name": "YDoc",
    "common": {
        "title": "YDoc",
        "footer": "&copy; 2016 <a href=\"http://ued.qunar.com/ymfe/\">YMFE</a> Team. Build by <a href=\"http://ued.qunar.com/ydoc/\">ydoc</a>.",
        "home": "YMFE",
        "homeUrl": "http://ued.qunar.com/ymfe/"
    },
    "options": {
        "markdown": {
            "menuLevel": 2
        },
        "staticsidenav": true
    },
    "pages": [{
        "name": "index",
        "title": "v3.0",
        "homepage": {
            "version": "v3.0.0",
            "button": [{
                "name": "&nbsp;&nbsp;起步&nbsp;&nbsp;",
                "href": "./start.html"
            },{
                "name": "Github",
                "href": "https://github.com/YMFE/ydoc"
            }],
            "intro": [{
                "title": "为前端开发者设计的文档生成工具",
                "desc": "YDoc让文档开发更简单高效，让开发者专注于程序本身，让项目代码更具可读性、可维护性。"
            },{
                "title": "特性",
                "detail": {
                    "type": "thumbnail",
                    "content": [{
                        "name": "丰富、可扩展的API",
                        "src": "http://ojk406wln.bkt.clouddn.com/intro_muti.png",
                        "desc": "YDoc提供了非常详尽的API，扩展性较强，如果你希望添加某些功能，可以在<a href=\"https://github.com/YMFE/ydoc\" target=\"_blank\"> Github </a>上面提Issue。"
                    },{
                        "name": "基于注释/markdown",
                        "src": "http://ojk406wln.bkt.clouddn.com/intro_md.png",
                        "desc": "基于项目代码注释与markdown快速构建文档，二者亦可在同一页面中使用。"
                    },{
                        "name": "可配置主题",
                        "src": "http://ojk406wln.bkt.clouddn.com/intro_theme.png",
                        "desc": "官方提供多套主题，并且支持用户自定义开发主题。"
                    }]
                }
            }]
        },
        "banner": {
            "title": "YDoc",
            "description": "基于项目代码注释与markdown快速构建文档，目前支持诸如：React Native, JavaScript, CSS, SCSS 等类别。"
        },
        "content": "./index.md"
    },{
        "name": "start",
        "title": "开始",
        "banner": {
            "title": "YDoc",
            "description": "前端工程文档生成工具"
        },
        "content": "./README.md"
    }, {
        "name": "usage",
        "title": "命令",
        "banner": {
            "title": "YDoc",
            "description": "使用"
        },
        "content": "./usage.md"
    }, {
        "name": "config",
        "title": "配置",
        "banner": {
            "title": "YDoc",
            "description": "配置"
        },
        "content": "./config.md"
    }, {
        "name": "comment",
        "title": "注释规则",
        "banner": {
            "title": "YDoc",
            "description": "注释规则"
        },
        "intro": "src/parsers/README.md",
        "content": {
            "sidebar": true,
            "blocks": [{
                "name": "JS-Library",
                "content": "src/parsers/js/Library.md"
            }, {
                "name": "JS-Component",
                "content": "src/parsers/js/Component.md"
            }, {
                "name": "CSS-Library",
                "content": "src/parsers/css/README.md"
            }]
        }
    }, {
        "name": "release",
        "title": "版本",
        "banner": {
            "title": "YDoc",
            "description": "版本"
        },
        "content": "./release.md"
    }, {
        "name": "theme",
        "title": "主题",
        "banner": {
            "title": "YDoc",
            "description": "主题"
        },
        "content": "./theme.md"
    },{
        "name":"FAQ",
        "title":"FAQ",
        "url": "http://ymfe.corp.qunar.com/c/ydoc"
    }]
}
