@import "../../../style/usage/core/reset";
@import "../../../style/usage/element/yo-btn";

$main-color: #1ba9ba;
@include yo-btn(
        $name: demo,
        $bgcolor: #00afc7,
        $border-color: #00afc7,
        $active-bgcolor: $main-color,
        $active-border-color: $main-color
) {
  height: 30px;
  max-width: 95%;
  line-height: 30px;
};

.btn-margin {
  margin: 10px auto 0;
}

.demo-input {
  width: 72px;
  padding: 0 5px;
  text-align: center;
}