.m-content {
  overflow-y: scroll;
  background-color: #fff;
  padding-top: .64rem;
  min-height: 100%;
  &-container {
    max-width: 8.1rem;
    padding-top: .48rem;
    padding-bottom: 1.2rem;
    margin: 0 auto;
    .title {
      line-height: 1;
    }
  }
}

@include media-md() {
  .m-content {
    overflow-x: hidden;
    overflow-y: auto;
  }
}