.m-content {
  overflow-y: scroll;
  background-color: #fff;
  padding: .88rem .24rem .24rem;
  min-height: 100%;
  &-container {
    max-width: 8.1rem;
    margin: .24rem auto;
    .title {
      line-height: 1;
    }
  }
}

@include media-md() {
  .m-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: .88rem .64rem .24rem;
  }
}