.m-summary {
	// position: absolute;
	// left: -60vw;
	// width: 60vw;
	// height: 100%;
	box-shadow: rgba(76, 82, 158, 0.07) 0px 4px 5px 0px inset, rgba(124, 135, 191, 0.06) 0px 1px 10px 0px inset, rgba(124, 132, 191, 0.1) 0px 2px 4px -1px inset;
	background-color: color($primary-1, 1);
	&-switch {
		font-family: 'ydoc';
		position: absolute;
		right: -.48rem;
		top: 0;
		width: .48rem;
		height: .48rem;
		display: flex;
    align-items: center;
		justify-content: center;
		background-color: $white;
	}
}

// show drawer & hide button on PC
@include media-md() {
	.m-summary {
		position: static;
		height: auto;
		width: auto;
		flex: 3rem 0 0;
		&-switch {
			display: none;
		}
	}
}