<div class="docs-section">
{{each list as cont}}
<h2 id="{{cont.name | anchor}}" class="page-header subject">{{cont.name}} API <a class="hashlink" href="#{{cont.name | anchor}}">#</a></h2>
{{each cont.list as el index}}
<div class="con-list-item">
    <blockquote class="api">
        <h3 id="{{el.id | anchor}}" class="page-header subject">
            {{el.title}}
            {{if el.class == 'method'}}
            <span class="ui-badge">Method</span>
            {{else if el.class == 'property'}}
            <span class="ui-badge">Property</span>
            {{else if el.class == 'prototype'}}
            <span class="ui-badge">Prototype</span>
            {{else if el.class == 'event'}}
            <span class="ui-badge">Event</span>
            {{else}}
            <span class="ui-badge">Class</span>
            {{/if}}
            {{if el.private}}
            <span class="ui-badge">Private</span>
            {{/if}}
            {{if el.version}}
            <span class="ui-badge">{{el.version}}</span>
            {{/if}}
            {{if el.static}}
            <span class="ui-badge">static</span>
            {{/if}}
            <a class="hashlink" href="#{{el.id | anchor}}">#</a>
        </h3>
    </blockquote>
    <p>
        <small class="text-muted">描述:</small>
        {{el._desc}}
    </p>
    {{if el.alias}}
    <p>
        <small class="text-muted">缩略:</small>
        {{el.alias}}
    </p>
    {{/if}}
    {{if el.class == 'property'}}
    <p>
        <small class="text-muted">类型:</small>
        <mark>{{el.type}}</mark>
    </p>
    {{if el.value}}
    <p>
        <small class="text-muted">参考值:</small>
        {{el.value}}
    </p>
    {{/if}}
    {{/if}}
    {{if linkSource}}
    <p>
        <small class="text-muted">源码位置:</small>
        <a href="./static{{el._path}}.html#{{el._line}}" target="_blank">.{{el._path}}:{{el._line}}</a>
    </p>
    {{/if}}
    {{if el.demo}}
    <p>
        <small class="text-muted">Demo地址:</small>
        <a href="{{el.demo}}" target="_blank">点击访问</a>
    </p>
    {{/if}}
    {{if el.params.length}}
    <p>
        <small class="text-muted">参数:</small>
    </p>
    <div class="docs-table">
        <table class="yo-table yo-table-border">
            <colgroup>
                <col class="c1">
                <col class="c2">
                <col class="c3">
                <col class="c4">
            </colgroup>
            <thead>
                <tr class="active">
                    <th>参数名</th>
                    <th>类型</th>
                    <th>描述</th>
                    <th>必选</th>
                    <th>版本</th>
                </tr>
            </thead>
            {{each el.params as param index}}
            <tr>
                <td>{{param.name}}</td>
                <td>{{param.type}}</td>
                <td>{{param.description}}</td>
                <td>
                    {{if !param.optional}}
                    <i class="yo-ico glyphicon glyphicon-ok text-success"></i>
                    {{/if}}
                </td>
                <td>{{param.version}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{/if}}
    {{if el.returns}}
    <p>
        <small class="text-muted">返回值:</small>
        <mark>{{el.returns.type}}</mark> {{el.returns.description}}
    </p>
    {{/if}}
    {{if el.class == 'event'}}
    {{if el.params.length}}
    <p>
        <small class="text-muted">数据形式:</small>
    </p>

    <div class="docs-table">
        <table class="yo-table yo-table-border">
            <colgroup>
                <col class="c1">
                <col class="c2">
                <col class="c3">
                <col class="c4">
            </colgroup>
            <thead>
                <tr>
                    <th>数据键值</th>
                    <th>类型</th>
                    <th>描述</th>
                    <th>必存在</th>
                    <th>版本</th>
                </tr>
            </thead>
            {{each el.params as param index}}
            <tr>
                <td>{{param.name}}</td>
                <td>{{param.type}}</td>
                <td>{{param.description}}</td>
                <td>
                    {{if !param.optional}}
                    <i class="glyphicon glyphicon-ok text-success"></i>
                    {{/if}}
                </td>
                <td>{{param.version}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{/if}}
    {{if el.returns}}
    <p>
        <small class="text-muted">返回值:</small>
        <mark>{{el.returns.type}}</mark> {{el.returns.description}}
    </p>
    {{/if}}
    {{/if}}
    {{if el.example}}
    <div>示例</div>
    <pre class="ydoc-example" {{if (el && el.foldnumber)}}data-foldnumber={{el.foldnumber}}{{/if}}><code>{{el.example}}</code></pre>
    {{/if}}
    {{if el.description}}
    <p>
        <small class="text-muted">额外说明:</small>
    </p>
    <blockquote>
        {{el.description | markdown}}
    </blockquote>
    {{/if}}
</div>
{{/each}}
{{/each}}
</div>
