@import "../../../../style/usage/core/reset";
@import "../../../../style/lib/fragment/yo-list";

.scroller_container {
    width: 100%;
    height: 100%;
}

.yo-list{
    .item{
        span{
            display: block;
            color: #ffffff;
            width: .3rem;
            height: .3rem;
            line-height: .3rem;
            margin: 0 .2rem 0 0;
            text-align: center;
            font-size: .2rem;
        }
    }
}
