<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-calendar - 日历</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../style/usage/export/yo-calendar.css" />
</head>
<body>
<div class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">yo-calendar</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-calendar" class="affirm">文档</a>
    </header>
    <div class="flex">
        <section class="yo-calendar">
            <ul class="week-bar">
                <li class="weekend">日</li>
                <li>一</li>
                <li>二</li>
                <li>三</li>
                <li>四</li>
                <li>五</li>
                <li class="weekend">六</li>
            </ul>
            <div class="weeks">
                <div class="sticky-bar">2015年7月</div>
                <h3 class="month-bar">2015年7月</h3>
                <ul class="week">
                    <li class="weekend"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li class="disabled"><span class="day">1</span></li>
                    <li class="weekend"><span class="day">2</span></li>
                </ul>
                <ul class="week">
                    <li class="weekend"><span class="day">3</span></li>
                    <li><span class="day">4</span></li>
                    <li class="today">
                        <span class="day">5</span>
                        <ins class="special">今天</ins>
                    </li>
                    <li><span class="day">6</span></li>
                    <li><span class="day">7</span></li>
                    <li><span class="day">8</span></li>
                    <li class="weekend"><span class="day">9</span></li>
                </ul>
                <ul class="week">
                    <li class="weekend"><span class="day">10</span></li>
                    <li class="start range"><span class="day">11</span></li>
                    <li class="range"><span class="day">12</span></li>
                    <li class="range"><span class="day">13</span></li>
                    <li class="range"><span class="day">14</span></li>
                    <li class="end range"><span class="day">15</span></li>
                    <li class="weekend"><span class="day">16</span></li>
                </ul>
                <ul class="week">
                    <li class="weekend"><span class="day">17</span></li>
                    <li><span class="day">18</span></li>
                    <li class="holiday">
                        <span class="day">19</span>
                        <ins class="special">端午节</ins>
                    </li>
                    <li><span class="day">20</span></li>
                    <li><span class="day">21</span></li>
                    <li><span class="day">22</span></li>
                    <li class="weekend"><span class="day">23</span></li>
                </ul>
                <ul class="week">
                    <li class="weekend"><span class="day">24</span></li>
                    <li><span class="day">25</span></li>
                    <li><span class="day">26</span></li>
                    <li><span class="day">27</span></li>
                    <li class="holiday">
                        <span class="day">28</span>
                        <ins class="special">国庆节</ins>
                    </li>
                    <li><span class="day">29</span></li>
                    <li class="weekend"><span class="day">30</span></li>
                </ul>
                <ul class="week">
                    <li class="weekend"><span class="day">31</span></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li class="weekend"></li>
                </ul>
                <h3 class="month-bar">2015年8月</h3>
                <ul class="week">
                    <li class="weekend"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li class="disabled"><span class="day">1</span></li>
                    <li class="weekend"><span class="day">2</span></li>
                </ul>
                <ul class="week">
                    <li class="weekend"><span class="day">3</span></li>
                    <li><span class="day">4</span></li>
                    <li><span class="day">5</span></li>
                    <li><span class="day">6</span></li>
                    <li><span class="day">7</span></li>
                    <li><span class="day">8</span></li>
                    <li class="weekend"><span class="day">9</span></li>
                </ul>
                <ul class="week">
                    <li class="weekend"><span class="day">10</span></li>
                    <li class="today holiday">
                        <span class="day">11</span>
                        <ins class="special">今天</ins>
                        <ins class="special">端午节</ins>
                    </li>
                    <li><span class="day">12</span></li>
                    <li><span class="day">13</span></li>
                    <li><span class="day">14</span></li>
                    <li><span class="day">15</span></li>
                    <li class="weekend"><span class="day">16</span></li>
                </ul>
                <ul class="week">
                    <li class="weekend"><span class="day">17</span></li>
                    <li><span class="day">18</span></li>
                    <li><span class="day">19</span></li>
                    <li><span class="day">20</span></li>
                    <li><span class="day">21</span></li>
                    <li><span class="day">22</span></li>
                    <li class="weekend"><span class="day">23</span></li>
                </ul>
                <ul class="week">
                    <li class="weekend"><span class="day">24</span></li>
                    <li><span class="day">25</span></li>
                    <li><span class="day">26</span></li>
                    <li><span class="day">27</span></li>
                    <li><span class="day">28</span></li>
                    <li><span class="day">29</span></li>
                    <li class="weekend"><span class="day">30</span></li>
                </ul>
                <ul class="week">
                    <li class="weekend"><span class="day">31</span></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li class="weekend"></li>
                </ul>
            </div>
        </section>

    </div>
</div>

</body>
</html>