<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-dialog - 对话框弹层</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../style/usage/export/yo-dialog.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">yo-dialog</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-dialog" class="affirm">文档</a>
    </header>
    <div class="flex">
        <section class="m-demo">
            <div class="yo-dialog">
                <div class="bd">
                    <p>不带title的dialog</p>
                </div>
                <footer class="ft">
                    <button class="yo-btn yo-btn-dialog yo-btn-l">取消</button>
                    <button class="yo-btn yo-btn-dialog yo-btn-l">确定</button>
                </footer>
            </div>
        </section>
        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><div class="yo-dialog yo-dialog-test">
    <div class="bd">
        <p>不带title的dialog</p>
    </div>
    <footer class="ft">
        <button class="yo-btn yo-btn-dialog yo-btn-l">取消</button>
        <button class="yo-btn yo-btn-dialog yo-btn-l">确定</button>
    </footer>
</div></xmp>
        </section>

        <section class="m-demo">
            <div class="yo-dialog">
                <header class="hd">
                    <h2 class="title">标题</h2>
                </header>
                <div class="bd">
                    <p>有title的dialog</p>
                </div>
                <footer class="ft">
                    <button class="yo-btn yo-btn-dialog yo-btn-l">取消</button>
                    <button class="yo-btn yo-btn-dialog yo-btn-l">确定</button>
                </footer>
            </div>
        </section>
        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><div class="yo-dialog">
    <header class="hd">
        <h2 class="title">标题</h2>
    </header>
    <div class="bd">
        <p>有title的dialog</p>
    </div>
    <footer class="ft">
        <button class="yo-btn yo-btn-dialog yo-btn-l">取消</button>
        <button class="yo-btn yo-btn-dialog yo-btn-l">确定</button>
    </footer>
    </div></xmp>
        </section>

        <section class="m-demo">
            <div class="yo-dialog">
                <header class="hd">
                    <h2 class="title">标题</h2>
                    <span class="regret">取消</span>
                    <span class="affirm">保存</span>
                </header>
                <div class="bd">
                    <p>标题区域带操作功能的dialog</p>
                </div>
            </div>
        </section>
        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><div class="yo-dialog yo-dialog-test">
    <header class="hd">
        <h2 class="title">标题</h2>
        <span class="regret">取消</span>
        <span class="affirm">保存</span>
    </header>
    <div class="bd">
        <p>标题区域带操作功能的dialog</p>
    </div>
</div></xmp>
        </section>

    </div>
</div>

</body>
</html>