<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-suggest - 搜索框</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../style/usage/export/yo-suggest.css" />
</head>
<body>

<div class="yo-suggest">
    <div class="operate">
        <form class="action">
            <i class="yo-ico yo-ico-suggest">&#xf067;</i>
            <input type="text" class="input" placeholder="搜索" />
            <i class="yo-ico yo-ico-delete">&#xf077;</i>
            <i class="yo-ico yo-ico-fresh">&#xf07a;</i>
            <i class="yo-ico yo-ico-stop">&#xf063;</i>
            <i class="yo-ico yo-ico-loading">&#xf089;</i>
        </form>
        <span class="cancel">取消</span>
    </div>
    <div class="cont">
        <div class="recommend"><!-- 推荐搜索内容 --></div>
        <div class="result"><!-- 搜索结果内容 --></div>
    </div>
</div>

</body>
</html>