<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-toolbar - 工具条</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../style/usage/export/yo-toolbar.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">yo-toolbar</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-toolbar" class="affirm">文档</a>
    </header>
    <div class="flex">
        <section class="yo-list yo-list-group m-demo">
            <h2 class="label">常规：</h2>
            <div class="item">
                <ul class="yo-toolbar">
                    <li class="item">点赞</li>
                    <li class="item item-on">评论</li>
                    <li class="item">取消</li>
                </ul>
            </div>
            <div class="item">
                <ul class="yo-toolbar">
                    <li class="item item-on"><i class="yo-ico">&#xf07d;</i></li>
                    <li class="item"><i class="yo-ico">&#xf07e;</i></li>
                    <li class="item"><i class="yo-ico">&#xf07f;</i></li>
                </ul>
            </div>
            <div class="item">
                <ul class="yo-toolbar">
                    <li class="item item-on"><i class="yo-ico">&#xf07d;</i></li>
                    <li class="item"><i class="yo-ico">&#xf07f;</i></li>
                </ul>
            </div>
            <div class="item">
                <ul class="yo-toolbar">
                    <li class="item"><i class="yo-ico">&#xf07f;</i></li>
                </ul>
            </div>
        </section>

        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><ul class="yo-toolbar">
    <li class="item">点赞</li>
    <li class="item item-on">评论</li>
    <li class="item">取消</li>
</ul></xmp>
        </section>

        <section class="yo-list yo-list-group m-demo">
            <h2 class="label">扩展：</h2>
            <div class="item">
                <ul class="yo-toolbar yo-toolbar-test">
                    <li class="item">点赞</li>
                    <li class="item item-on">评论</li>
                    <li class="item">取消</li>
                </ul>
            </div>
        </section>

        <section class="m-desc">
            <h3 class="title">当然你也可以随心的自定义：</h3>
            <xmp>@include yo-toolbar(
    $name: test,
    $border-color: #ccc,
    $bgcolor: #eee,
    $color: #666,
    $on-bgcolor: #ddd,
    $on-color: #000,
    $radius: .05rem
);</xmp>
            <h3 class="sub-title">使用方法：</h3>
            <xmp><div class="yo-toolbar yo-toolbar-test">
    ...
</div></xmp>
        </section>

    </div>
</div>

</body>
</html>