<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-vcode</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../style/usage/export/yo-vcode.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">yo-vcode</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-vcode" class="affirm">文档</a>
    </header>
    <div class="flex">
        <section class="m-demo">
            <label class="yo-vcode">
                <input class="input" type="tel" />
                <span class="value">1</span>
                <span class="value">2</span>
                <span class="value">3</span>
                <span class="value">4</span>
                <span class="value">5</span>
                <span class="value">6</span>
            </label>
        </section>

        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><label class="yo-vcode">
    <input class="input" type="tel" />
    <span class="value">1</span>
    <span class="value">2</span>
    <span class="value">3</span>
    <span class="value">4</span>
    <span class="value">5</span>
    <span class="value">6</span>
</label></xmp>
        </section>

    </div>
</div>

</body>
</html>