@import "../datetimepicker/main.scss";


.yo-range {
  margin-top: 5px;
}

.demopage .yo-range {
  margin-top: 0;
  background-color: #fff;
}
#content .controlatrrs {
  .yo-list {
    max-height: 500px;
  }
}
#content .demopage {
  .yo-list {
    max-height: 400px;
  }

  .yo-flex > .flex {
      overflow: hidden;
  }
  .h3, h3 {
    text-align: left;
    margin: 0;
    -webkit-background-image: none;
    background-image: none;
    background-color: #fff;
    .tip {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 10px;
      color: cadetblue;

    }
  }
  .flex h3 {
    position: relative;
    margin-top: 0;
    background-image: none;
  }
  h4{
      height: 25px;
      line-height: 25px;
      font-size: 14px;
      color: #4b4b4b;
      padding-left: 10px;
      margin-top: 5px;
      background-color: #ebebeb;
      text-align: left;
  }
  .h4 {
    font-size: 14px;
    color: #4b4b4b;
    padding-left: 10px;
    margin-top: 5px;

  }
  .active-color {
    color: cadetblue
  }
  .item {
    @include flexbox();
    margin-top: 5px;
    background-color: #ebebeb;
    .flex {
      @include flex(1);

      &:first-child {
        color: cadetblue;
        font-size: 14px;
      }
      &:nth-child(2) {
        color: #777;
        text-align: center;
        margin-top: 5px;
      }
    }

  }
}

