{
    "family": "kami",
    "name": "suggest",
    "version": "1.0.0",
    "description": "提示组件",
    "category": "primary",
    "dependance": {
        "core": "1.0.0",
        "template": "1.0.0",
        "util": "1.0.0",
        "list": "1.0.0"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/suggest.git"
    }
}