@charset "utf-8";
@import "../../lib/element/yo-badge";

/**
 * yo-badge扩展
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */

// 预设常规气泡
@include yo-badge(
    $name: normal,
    $bordercolor: gray,
    $bgcolor: gray
);

// 预设镂空气泡
@include yo-badge(
    $name: hollow,
    $bordercolor: #666,
    $bgcolor: white,
    $color: #666
);

// 预设标识气泡
@include yo-badge(
    $name: ident,
    $bordercolor: #666,
    $bgcolor: white,
    $color: #666,
    $radius: .03rem,
    $font-size: .12rem,
    $padding: 0
);


// 预设标签气泡
@include yo-badge(
    $name: tag,
    $bordercolor: #aaa,
    $bgcolor: #aaa,
    $radius: .05rem,
    $font-size: .12rem
);
