@charset "utf-8";
@import "../../lib/element/yo-checked";

/**
 * yo-checked扩展
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */

@include yo-checked(
    $name: a,
    $border-width: .01rem,
    $bordercolor: map-get($base, bordercolor),
    $on-bordercolor: map-get($checked, on-color)
);

@include yo-checked(
    $name: b,
    $border-width: .01rem,
    $bordercolor: map-get($base, bordercolor),
    $on-bordercolor: map-get($checked, on-color),
    $on-bgcolor: map-get($checked, on-color),
    $on-color: white
);

@include yo-checked(
    $name: c,
    $border-width: .01rem,
    $bordercolor: map-get($base, bordercolor),
    $on-bordercolor: map-get($checked, on-color),
    $on-bgcolor: map-get($checked, on-color),
    $on-color: white,
    $radius: 50%
);

@include yo-checked(
    $name: d,
    $content: "\f083"
);

@include yo-checked(
    $name: e,
    $content: "\f083",
    $border-width: .01rem,
    $bordercolor: map-get($base, bordercolor),
    $on-bordercolor: map-get($checked, on-color)
);

@include yo-checked(
    $name: f,
    $content: "\f083",
    $border-width: .01rem,
    $bordercolor: map-get($base, bordercolor),
    $on-bordercolor: map-get($checked, on-color),
    $on-bgcolor: map-get($checked, on-color),
    $on-color: white
);

@include yo-checked(
    $name: g,
    $content: "\f083",
    $border-width: .01rem,
    $bordercolor: map-get($base, bordercolor),
    $on-bordercolor: map-get($checked, on-color),
    $on-bgcolor: map-get($checked, on-color),
    $on-color: white,
    $radius: 50%
);