@charset "utf-8";
@import "../../lib/element/yo-score";

/**
 * yo-score扩展
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */

@include yo-score(
    $name: test,
    $url: "star2.png",
    $item-width: .15rem,
    $item-height: .15rem
);