*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

html {
  background-color: #ebebeb;
  color: #212121;
  font-size: 100px;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-size: 0.14em;
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit;
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset,
img {
  border: 0;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}

textarea,
pre,
xmp {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

textarea {
  resize: vertical;
}

input,
textarea,
button,
select
a {
  outline: 0 none;
}

input,
textarea,
button,
select {
  color: inherit;
}

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

mark {
  background-color: transparent;
}

a,
ins,
s,
u,
del {
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

a {
  color: #00afc7;
}

.g-clear::after,
.g-mod::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020";
}

@font-face {
  font-family: yofont;
  src: url(//ss.qunarzz.com/yo/font/1.0.3/yofont.woff) format("woff"), url(//ss.qunarzz.com/yo/font/1.0.3/yofont.ttf) format("truetype");
}

.yo-ico {
  font-family: yofont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.yo-btn {
  display: inline-block;
  padding: 0 1.2em;
  vertical-align: top;
  position: relative;
  border-radius: 0.05rem;
  border: 0 none;
  background-color: #ff801a;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.yo-btn::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #d36105;
  border-style: solid;
  border-width: 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-btn::after {
    width: 100%;
    height: 100%;
    border-radius: 0.05rem;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-btn::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-radius: 0.1rem;
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-btn::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
    border-radius: 0.15rem;
  }
}

.yo-btn-disabled {
  opacity: 1;
  cursor: not-allowed;
}

.yo-btn-disabled, .yo-btn-disabled:active {
  background-color: #ffaa67;
  color: white;
}

.yo-btn-disabled::after, .yo-btn-disabled:active::after {
  border-color: #fa7f1c;
}

.yo-btn-s {
  height: 0.28rem;
  line-height: 0.28rem;
  font-size: 0.12rem;
}

.yo-btn-m {
  height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.14rem;
}

.yo-btn-l {
  height: 0.44rem;
  line-height: 0.44rem;
  font-size: 0.16rem;
}

.yo-btn-stacked {
  display: block;
  width: 100%;
}

html,
body {
  background-color: #0ac2d2;
}

.m-animate {
  height: 100%;
}

.pages {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.pages .page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  visibility: hidden;
}

.pages .page.current {
  visibility: visible;
  z-index: 1;
}

.pages .page-1 {
  background: #0ac2d2;
}

.pages .page-2 {
  background: #7bb7fa;
}

.pages .page-3 {
  background: #60d7a9;
}

.pages .page-4 {
  background: #fdc162;
}

.pages .page-5 {
  background: #fd6a62;
}

.pages .page-6 {
  background: #f68dbb;
}

.pages .con {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3rem;
  margin: -1.9rem 0 0 -1.5rem;
}

.pages .con > h1 {
  color: rgba(255, 255, 255, 0.6);
  font-size: .64rem;
}

.pages .con > h2 {
  margin-top: -.2rem;
  color: rgba(0, 0, 0, 0.2);
  font-size: .25rem;
}

.pages .con > p {
  color: rgba(255, 255, 255, 0.9);
  font-size: .36rem;
}

.pages .con > .yo-btn,
.pages .con > select {
  width: 100%;
  height: .44rem;
  margin: .1rem 0;
  padding: 0 .15rem;
  border: 0;
  border-radius: .02rem;
  line-height: .44rem;
  box-shadow: 0 0.03rem 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #aaa;
  cursor: pointer;
  font-size: .16rem;
}

.pages .con .yo-btn {
  font-weight: bold;
}

.pages .con .yo-btn::after {
  border-width: 0;
}

.pages .con > select {
  -webkit-appearance: none;
  appearance: none;
  text-transform: capitalize;
  background-size: .1rem .1rem;
  background-repeat: no-repeat;
  background-position: right .1rem center;
  background-image: radial-gradient(circle, #0ac2d2, #0ac2d2 50%, transparent, transparent);
}
