*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

html {
  background-color: #ebebeb;
  color: #212121;
  font-size: 100px;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-size: 0.14em;
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit;
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset,
img {
  border: 0;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}

textarea,
pre,
xmp {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

textarea {
  resize: vertical;
}

input,
textarea,
button,
select
a {
  outline: 0 none;
}

input,
textarea,
button,
select {
  color: inherit;
}

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

mark {
  background-color: transparent;
}

a,
ins,
s,
u,
del {
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

a {
  color: #00afc7;
}

.g-clear::after,
.g-mod::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020";
}

@font-face {
  font-family: yofont;
  src: url(//ss.qunarzz.com/yo/font/1.0.3/yofont.woff) format("woff"), url(//ss.qunarzz.com/yo/font/1.0.3/yofont.ttf) format("truetype");
}

.yo-ico {
  font-family: yofont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.yo-flex {
  height: 100%;
}

.yo-flex,
.yo-flex .flex-inherit {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.yo-flex > .flex,
.yo-flex .flex-inherit,
.yo-flex .flex-inherit > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: .1px;
  position: relative;
}

.yo-flex > .flex,
.yo-flex .flex-inherit > .flex {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.yo-flex > .flex > .yo-flex,
.yo-flex .flex-inherit > .flex > .yo-flex {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.yo-header {
  position: relative;
  height: 0.44rem;
  line-height: 0.44rem;
  position: relative;
  background-color: #1ba9ba;
  color: #fff;
  font-size: 0.18rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.yo-header::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #1ba9ba;
  border-style: solid;
  border-width: 0 0 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-header::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-header::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-header::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-header > .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0.6rem;
}

.yo-header > .regret,
.yo-header > .affirm {
  position: absolute;
  top: 0;
  width: 0.6rem;
  color: #fff;
  cursor: pointer;
}

.yo-header > .regret:active,
.yo-header > .affirm:active {
  opacity: .5;
}

.yo-header > .regret.yo-ico,
.yo-header > .regret > .yo-ico,
.yo-header > .affirm.yo-ico,
.yo-header > .affirm > .yo-ico {
  color: #7ff;
  font-size: 0.2rem;
}

.yo-header > .regret {
  left: 0;
  padding-left: 0.15rem;
  text-align: left;
}

.yo-header > .affirm {
  right: 0;
  padding-right: 0.15rem;
  text-align: right;
}

.yo-table {
  width: 100%;
  position: relative;
  background-color: #fff;
}

.yo-table::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ccc;
  border-style: solid;
  border-width: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-table::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-table::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-table::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-table thead {
  background-color: #eee;
}

.yo-table thead th {
  padding: 0.05rem 0.1rem;
}

.yo-table td {
  padding: 0.1rem;
}

.yo-table th,
.yo-table td {
  position: relative;
}

.yo-table th::after,
.yo-table td::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ccc;
  border-style: solid;
  border-width: 0 0 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-table th::after,
  .yo-table td::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-table th::after,
  .yo-table td::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-table th::after,
  .yo-table td::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-table-test::after {
  border-width: 1px;
}

.yo-table-test th::after, .yo-table-test td::after {
  border-width: 0 1px 1px 0;
}

.yo-table-test2 tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.m-demo {
  position: relative;
  min-height: .88rem;
}

.m-demo > .title {
  padding: .18rem .1rem .03rem;
  font-weight: normal;
  position: relative;
}

.m-demo > .title::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ccc;
  border-style: solid;
  border-width: 0 0 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .m-demo > .title::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .m-demo > .title::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .m-demo > .title::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.m-demo .item .yo-btn:not(:last-child) {
  margin-right: .1rem;
}

.m-demo .mark img {
  width: 0.5rem;
  height: 0.5rem;
}

.m-demo > .yo-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.m-demo > .yo-card .cols img {
  width: 0.6rem;
  height: 0.6rem;
}

.m-desc {
  margin: .3rem .1rem;
  padding-bottom: .05rem;
  border-radius: .05rem;
  background-color: #ddd;
}

.m-desc > .title,
.m-desc > .sub-title {
  max-height: 100%;
}

.m-desc > .title {
  padding: .18rem .1rem .03rem;
  border-bottom: 1px solid #ccc;
}

.m-desc > xmp {
  margin: .1rem;
  padding: .1rem;
  background-color: #666;
  color: #fff;
  -webkit-user-select: text;
  user-select: text;
}

.m-desc .sub-title {
  margin: 0 .1rem;
  padding: .1rem 0 .03rem;
  border-bottom: 1px solid #ccc;
}

.m-desc .sub-title::before {
  margin-right: .05rem;
  padding: 0 .03rem;
  border-radius: .03rem;
  content: "Note";
  font-weight: normal;
  background-color: #f9c027;
  color: #fff;
}

.m-desc .info {
  margin: .1rem;
}
