@charset "utf-8";
@import "../../../style/lib/core/merge-extra";
@import "../../../style/lib/core/merge-config";
@import "../../../style/lib/core/reset";

.yo-flex > .flex {
    @include flexbox();
    @include flex-direction(column);
}

.tabexample {
  h3 {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    padding-left: 10px;
    @include gradient(linear, left, #1ba9ba, #1ba9ba 3px, #fafafa 4px, #fafafa);
    text-align: center;
  }
  .yo-tab {
    .item {
      background-color: #fff;
    }
  }
  .demo > .item{
    @include flexbox();
    margin-top: 5px;
    background-color: #ebebeb;
    .flex {
      @include flex(1);
      &:first-child {
        color: cadetblue;
        font-size: 14px;
      }
      &:nth-child(2) {
        color: #777;
        text-align: center;
        margin-top: 5px;
      }
    }
  }
}


