{
    "compiler": "component",
    "name": "QApp-plugin-delegated",
    "version": "0.1.1",
    "author": "adwon.lin, yayu.wang",
    "email": "adwon.lin@qunar.com, yayu.wang@qunar.com",
    "description": "DelegatedEvent Plugin for QApp",
    "repository": "git@gitlab.corp.qunar.com:qapp/qapp-plugin-delegated.git",
    "dependencies": {},
    "main": "src/index.js",
    "alias": {},
    "export": [
        "index.js"
    ]
}