body {
    font-size: $font-size;
}


@font-face {
  font-family: 'ydoc';
  src: url("https://s.qunarzz.com/ydoc/fonts/0.0.3/ydoc.eot");
  /* IE9*/
  src: url("https://s.qunarzz.com/ydoc/fonts/0.0.3/ydoc.woff") format("woff"), url("https://s.qunarzz.com/ydoc/fonts/0.0.3/ymfe.ttf") format("truetype"), url("https://s.qunarzz.com/ydoc/fonts/0.0.3/ydoc.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
.ui-font-ydoc {
  font-family: ydoc;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 500;
  line-height: $line-height;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

// font sizes:
h1 {
	font-size: 56px;
}
h2 {
	font-size: 45px;
}
h1 {
	font-size: 34px;
}
h1 {
	font-size: 24px;
}
h1 {
	font-size: 21px;
	line-height: 32px;
}
h1 {
	font-size: 16px;
}