.ani{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.ani.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes rotate{from{-webkit-transform:rotatez(0)}
to{-webkit-transform:rotatez(360deg)}
}
@keyframes rotate{from{transform:rotatez(0)}
to{transform:rotatez(360deg)}
}
.ani.rotate{-webkit-animation-name:rotate;animation-name:rotate}
.yo-loadtip{display:-webkit-inline-box;display:-webkit-inline-flex;display:inline-flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;color:#666;font-size:.14rem}
.yo-loadtip>.yo-ico{display:block;-webkit-transform-origin:center;transform-origin:center;color:#00afc7;-webkit-transition:-webkit-transform .3s;transition:transform .3s;-webkit-transform:rotatez(0deg);transform:rotatez(0deg)}
.yo-loadtip>.yo-ico-flip{-webkit-transform:rotatez(180deg);transform:rotatez(180deg)}
.yo-loadtip>.yo-ico-loading{-webkit-animation:rotate 1s infinite linear;animation:rotate 1s infinite linear}
.yo-loadtip>.text{margin-left:.1rem}
.yo-loadtip>.text>.time{display:block;font-size:.12rem}
.yo-list>.label,.yo-list>.item,.yo-list .front{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-transform:translatez(0);transform:translatez(0)}
.yo-list>.label>.mark:not(:last-child),.yo-list>.label>.yo-ico:not(:last-child),.yo-list>.item>.mark:not(:last-child),.yo-list>.item>.yo-ico:not(:last-child),.yo-list .front>.mark:not(:last-child),.yo-list .front>.yo-ico:not(:last-child){margin-right:.1rem}
.yo-list>.label>.flex,.yo-list>.item>.flex,.yo-list .front>.flex{-webkit-box-flex:1;-webkit-flex:1;flex:1;width:.1px}
.yo-list>.label>.mark,.yo-list>.label>.yo-ico,.yo-list>.label>.col,.yo-list>.label>.flex,.yo-list>.item>.mark,.yo-list>.item>.yo-ico,.yo-list>.item>.col,.yo-list>.item>.flex,.yo-list .front>.mark,.yo-list .front>.yo-ico,.yo-list .front>.col,.yo-list .front>.flex{display:block}
.yo-list>.label.tr,.yo-list>.item.tr,.yo-list .front.tr{padding:0}
.yo-list>.label{padding:.03rem .1rem;border:1px solid #eee;border-width:0 0 1px 0;background-color:#fafafa;color:#666;font-size:.13rem;font-weight:normal}
.yo-list>.label>.col{padding:.03rem .1rem}
.yo-list>.label:not(:first-child){border-width:1px 0;margin-top:-1px}
.yo-list>.item,.yo-list .front{padding:.11rem .1rem .12rem}
.yo-list>.item{background-color:#fff;color:#212121;font-size:.14rem;background-image:-webkit-linear-gradient#ddd,#ddd;background-image:linear-gradient(#ddd,#ddd);-webkit-background-size:100% 1px;background-size:100% 1px;background-repeat:no-repeat;background-position:.1rem bottom}
.yo-list>.item:last-child{margin-bottom:-1px;background-image:-webkit-linear-gradient#ccc,#ccc;background-image:linear-gradient(#ccc,#ccc);background-position:0 bottom}
.yo-list>.item-stacked{display:block}
.yo-list>.item-stacked>.mark{padding-bottom:.05rem}
.yo-list>.item-input>.yo-input{height:auto;padding:0;border:0}
.yo-list>.item.item-active:active,.yo-list>.item.item-active:active .front,.yo-list>.item.item-light,.yo-list>.item.item-light .front{background-color:#f8f8f8}
.yo-list>.item>.col{padding:.11rem .1rem .12rem}
.yo-list-inset{margin:.2rem .1rem 0 .1rem;border-radius:.02rem;border-width:1px;border-color:#ccc;border-style:solid}
.yo-list-group>.label{padding:.18rem .1rem .03rem;border-color:#ccc;background-color:transparent}
.yo-list-group>.label>.col{padding:.18rem .1rem .03rem}
.yo-group{position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden}
.yo-group>.sticky,.yo-group>.scroll-index{position:absolute;z-index:2;top:0;right:0}
.yo-group>.sticky{left:0;padding:.03rem .1rem;background-color:#fafafa;color:#666}
.yo-group .no-data{height:100%;padding-top:1rem;text-align:center}
.yo-index{width:.3rem;text-transform:uppercase;color:#555;font-size:.12rem;line-height:1.1;text-align:center}
.yo-index .ellipsis{display:inline-block;width:.06rem;height:.06rem;border-radius:50%;background-color:#555}
.yo-suggest>.operate{position:relative;overflow:hidden;font-size:.14rem;line-height:.29rem;padding:.07rem .1rem;border-bottom:1px solid #ccc;background-color:#fff}
.yo-suggest>.operate>.action{display:block;position:relative;z-index:2;height:.29rem}
.yo-suggest>.operate .input{width:100%;height:100%;padding:0 .3rem;-webkit-appearance:none;appearance:none;border:1px solid #ccc;border-radius:.05rem;-webkit-background-clip:padding-box!important;background-clip:padding-box!important;background-color:#ccc;color:#212121;font-size:.14rem;line-height:1.5;vertical-align:top}
.yo-suggest>.operate .yo-ico-delete,.yo-suggest>.operate .yo-ico-fresh,.yo-suggest>.operate .yo-ico-stop,.yo-suggest>.operate .yo-ico-loading{display:none;position:absolute;top:0;right:0;height:100%;padding:0 .08rem;color:#999}
.yo-suggest>.operate .yo-ico-loading{-webkit-animation:rotate 1s infinite linear;animation:rotate 1s infinite linear;-webkit-transform-origin:center;transform-origin:center}
.yo-suggest>.operate .label{display:-webkit-box;display:-webkit-flex;display:flex;position:absolute;top:0;left:50%;-webkit-transition:left .2s ease-in;transition:left .2s ease-in;-webkit-transform:translatex(-50%) translatez(0);transform:translatex(-50%) translatez(0);color:#fff}
.yo-suggest>.operate .placeholder{margin-left:.08rem}
.yo-suggest>.operate>.cancel{position:absolute;top:50%;right:0;-webkit-transform:translatey(-50%);transform:translatey(-50%);width:.7rem;padding:.1rem 0;color:#00afc7;text-align:center}
.yo-suggest>.cont{display:none;background-color:rgba(255,255,255,0.9)}
.yo-suggest>.cont>.recommend,.yo-suggest>.cont>.result{position:absolute;top:0;right:0;bottom:0;left:0}
.yo-suggest-on>.operate .label{left:.1rem;-webkit-transform:translatex(0) translatez(0);transform:translatex(0) translatez(0)}
.yo-suggest-on>.operate .yo-ico-delete{display:inline-block}
.yo-suggest-on>.cont{display:block;position:absolute;z-index:2501;top:0;right:0;bottom:0;left:0;top:.88rem}
.yo-suggest-modal{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;position:fixed;z-index:2501;top:0;right:0;bottom:0;left:0}
.yo-suggest-modal>.operate{padding-right:.7rem!important}
.yo-suggest-modal>.cont{display:block;position:relative;top:0;-webkit-box-flex:1;-webkit-flex:1;flex:1}
