{
    "compiler": "modular",
    "name": "kamidemo",
    "version": "0.0.0",
    "dependencies": {
        "QApp": "0.4.3",
        "QApp-plugin-kami-adapter": "0.0.5",
        "QApp-plugin-delegated": "0.1.1"
    },
    "alias": {
        "libs": "./src/libs",
        "syntax": "./src/libs/syntaxhighlighter",
        "kami": "./src/kami/scripts"
    },
    "export": [
        {
            "path": "./scripts/common.js",
            "no_version": true
        },
        {
            "path": "./scripts/syntax.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/export/syntaxhighlighter.css",
            "no_version": true
        },
        {
            "path": "./yo/usage/export/yo-all.css",
            "no_version": true
        },
        {
            "path": "./yo/usage/export/yo-flex.css",
            "no_version": true
        },
        {
            "path": "./scripts/kami-alert.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/alert.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-bizpaydialog.js",
            "no_version": true
        },
        {
            "path": "./scripts/kami-bizvericodedialog.js",
            "no_version": true
        },
        {
            "path": "./scripts/kami-calendar.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/calendar.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-popcalendar.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/popcalendar.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-confirm.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/confirm.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-datepicker.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/datepicker.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-dialog.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/dialog.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-doublelist.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/doublelist.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-grouplist.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/grouplist.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-imagelazyload.js",
            "no_version": true
        },
        {
            "path": "./scripts/kami-list.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/list.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-loading.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/loading.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-map.js",
            "no_version": true
        },
        {
            "path": "./scripts/kami-number.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/number.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-pagelist.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/pagelist.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-panel.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/panel.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-popselect.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/popselect.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-rating.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/rating.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-searchlist.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/searchlist.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-select.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/select.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-selectlist.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/selectlist.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-slidermenu.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/slidermenu.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-suggest.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/suggest.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-switch.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/switch.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-switchable.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/switchable.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-tips.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/tip.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-tip.js",
            "no_version": true
        },
        {
            "path": "./yo/usage/kami/tip.scss",
            "no_version": true
        },
        {
            "path": "./scripts/kami-template.js",
            "no_version": true
        },
        {
            "path": "./scripts/qapp/index.js",
            "no_version": true
        }
    ]
}