{
    "scripts": {
        "adapter-avalon": "0.0.6",
        "adapter-qapp": "0.0.19",
        "alert": "1.0.1",
        "base": "1.0.0",
        "bizpaydialog": "0.0.4",
        "bizvericodedialog": "0.0.5",
        "calendar": "1.0.0",
        "class": "1.0.0",
        "confirm": "1.0.1",
        "core": "1.0.0",
        "datepicker": "1.1.1",
        "demo": "0.0.5",
        "dialog": "1.0.0",
        "doublelist": "1.0.0",
        "grouplist": "1.0.0",
        "imagelazyload": "1.0.0",
        "list": "1.0.0",
        "loading": "1.0.0",
        "map": "1.0.0",
        "number": "1.0.0",
        "numbers": "0.0.2",
        "overlay": "1.0.0",
        "pagelist": "1.0.1",
        "panel": "1.0.0",
        "popcalendar": "1.0.0",
        "popselect": "1.0.0",
        "rating": "1.0.0",
        "searchlist": "1.0.0",
        "select": "1.0.0",
        "selectlist": "1.0.0",
        "slidermenu": "1.0.1",
        "suggest": "1.0.0",
        "switch": "1.0.0",
        "switchable": "1.0.0",
        "template": "1.0.0",
        "tip": "1.0.0",
        "tips": "0.0.1",
        "util": "1.0.0"
    }
}