/**
 * @module m-header
 * @method m-header-icon
 * @version 1.0.0
 * @foldnumber 8 代码块折叠行数
 * @demo http://ued.qunar.com/hy2/yo/demo/src/html/element/yo-badge.html
 * @examplelanguage css
 * @example
 * body{
 *     margin: 0;
 * }
 * @param {Color} $on-color 子项选中文本色 <2.0.0>
 * @param {Boolean} $has-last-border 是否有最后一根底边线，改由`border-width`参数控制 <1.2.0,2.0.0>
 * @param {Color} [$item-border-color] 子项边框色 
 * @description
 * 描述，可自由编辑
 */
.m-header-icon{
    font-size: 14px;
    font-weight: 400;
}


 /**
  * @module m-header
  * @method m-header-title
  * @version 2.0.0
  * @foldnumber 8 代码块折叠行数
  * @description
  * 从文件中读取 example 示例代码
  * @examplelanguage css
  * @example ./global.css[1-10]
  */

.m-header-title{
    font-size: 14px;
    line-height: 1.4;
}
