<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>file - The Yo API Yo 文档站</title>
    <link type="text/css" rel="stylesheet" href="../source/shCoreDefault.css"/>
    <link rel="stylesheet" href="../source/app.css" rel="stylesheet" />
    <script type="text/javascript" src="../source/shCore.js"></script>
    <script type="text/javascript" src="../source/shBrushSass.js"></script>
    <style>
        .syntaxhighlighter .number1 .spaces,.syntaxhighlighter .toolbar{ display: none;}
    </style>
</head>
<body style="background: white; font-family: Helvetica">
<div class="docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>Yo 源文件</h1>
        <p>Yo 是一款基于 Mobile First 理念而设计的 CSS Framework，当然，你使用在PC高级浏览器中也完全没有问题；其具备轻量，易用，快速且高度强大的自定义能力。</p>
    </div>
</div>
<div class="container docs-container">

    <div class="row">
        <div class="col-md-9" role="main">
        <pre class="brush: sass;">
            {{statichtml}}
        </pre>
        </div>

    </div>
</div>

<footer class="docs-footer" role="contentinfo">
    <div class="container">
        <p>{{footer}}</p>
    </div>
</footer>
<script type="text/javascript">
    SyntaxHighlighter.all();
    window.addEventListener('load',function(){
       Array.prototype.slice.call(document.querySelectorAll('.line')).forEach(function(item){
               item.id = 'doc'+ item.classList[1].substr(6);
           });
    },false)
</script>
</body>
</html>
