<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <title>{{title}}</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <link rel="stylesheet" href="source/shCoreDefault.css" />
    <link rel="stylesheet" href="source/app.css" />
    <script src="source/shCore.js"></script>
    <script src="source/shBrushSass.js"></script>
</head>
<body>

<!-- Docs master nav -->
<header class="navbar navbar-static-top docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://ued.qunar.com/mobile/" class="navbar-brand">HY</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
           <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="http://ued.qunar.com/mobile/qapp/doc/">QApp</a>
              </li>
              <li>
                <a href="http://ued.qunar.com/mobile/kami/doc/">Kami</a>
              </li>
              <li class="active">
                <a href="index.html">Yo</a>
              </li>
              <li>
                <a href="http://hy.qunar.com/docs/qunarapi.html">QunarAPI</a>
              </li>
              <li>
                <a href="http://ued.qunar.com/mobile/qmb2/" target="_blank">QMB2</a>
              </li>
              <li>
                <a href="http://ued.qunar.com/mobile/statistics/">Statistics</a>
              </li>
              <li>
                <a href="http://ued.qunar.com/mobile/blog/" target="_blank">Blog</a>
              </li>
              <li>
                <a href="http://hy.qunar.com/docs/index.html">Hytive</a>
              </li>
            </ul>
        </nav>
    </div>
</header>

<!-- Docs page layout -->
{{if banner}}
<div class="docs-header" id="content" style="margin-bottom:0">
    <div class="container">
        <h1>{{banner.title}}</h1>
        <p>{{banner.description}}</p>
    </div>
</div>
{{else}}
<hr style="margin: 0"/>
{{/if}}
{{if doc}}

<header class="navbar navbar-static-top docs-second-nav">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav">
                {{each doc.pages as page}}
                    {{if page.url}}
                    <li class="{{if page.name == name}}active{{/if}}">
                        <a href="{{page.url}}">{{page.title}}</a>
                    </li>
                    {{else}}
                    <li class="{{if page.name == name}}active{{/if}}">
                        <a href="{{page.name}}.html">{{page.title}}</a>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </nav>
    </div>
</header>
{{else}}
<header class="navbar navbar-static-top docs-second-nav">
    <div class="container">
        <nav class="">
            <ul class="nav navbar-nav">
                <li><a href="#">page.title</a></li>
                 <li><a href="http://ued.qunar.com/mobile/yo/demo/">demo</a></li>
            </ul>
        </nav>
    </div>
</header>
{{/if}}

<div class="container docs-container">
    {{if html}}
        <div id="readme">
            <article class="markdown-body">
                {{html}}
            </article>
        </div>
    {{else}}
    <div class="row">
        <div class="col-md-9" role="main" id="templateCon">
            {{each content as c index}}
            {{if c.type == 'html'}}
            <div class="docs-section">
                {{if c.sub}}
                <h2 id="{{c.tag | anchor}}" class="page-header">{{c.name}}</h2>
                {{else}}
                <h1 id="{{c.tag | anchor}}" class="page-header">{{c.name}}</h1>
                {{/if}}
                <div class="markdown-body">
                {{c.content}}
                </div>
            </div>
            {{else if c.type == 'scss'}}
                {{c.content.leftHtml}}
            {{/if}}
            {{/each}}
        </div>
        <div class="col-md-3" role="complementary">
            <nav class="docs-sidebar hidden-print hidden-xs hidden-sm">
                <h1>Yo</h1>
                <ul class="nav docs-sidenav" id="templateTree">
                    {{if html}}
                         html
                    {{else}}
                        {{each content as c index}}
                            {{if c.type == 'html'}}
                                {{c.type}}
                            {{else if c.type == 'scss'}}
                                {{c.content.rightHtml}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>
            </nav>
        </div>
    </div>
    {{/if}}
</div>

<!-- Footer -->
<footer class="docs-footer" role="contentinfo">
    <div class="container">
        <p>{{footer}}</p>
    </div>
</footer>

<script src="source/jquery.min.js"></script>
<script src="source/bootstrap.min.js"></script>
<script src="source/docs.min.js"></script>
<script>SyntaxHighlighter.all();</script>
</body>
</html>