<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>template Demo</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <link rel="stylesheet" href="../../../prd/yo/usage/export/yo-flex.css" />
    <link rel="stylesheet" href="../../../prd/yo/usage/export/yo-all.css" />
    <style type="text/css">
    h3 {
        font-size: 0.24rem;
        padding: 0.1rem;
    }
    p {
        padding: 0.1rem;
    }
    pre {
        margin: 0.1rem;
        padding: 0.1rem;
        border: 1px solid #ccc;
        border-radius: 0.05rem;
        background: #fff;
    }
    </style>
</head>
<body>
<section class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">Template</h2>
        <a href="../../../index.html" class="regret yo-ico">&#xf07d;</a>
        <span class="affirm yo-ico">&#xf067;</span>
    </header>
    <div class="flex" id="container">
    <h3>输出表达式</h3>
    <pre>{{variable}}</pre>
    <h3>输出表达式（转义）</h3>
    <pre>{{#variable}}</pre>
    <h3>条件表达式</h3>
    <pre>{{#if type === "file"}}

{{#else if type === "dir"}}

{{#else}}

{{/if}}</pre>
    <h3>遍历表达式</h3>
    <pre>{{#each items as item}}
    {{item}}
{{/each}}</pre>
    <p>index使用方法</p>
    <pre>{{#each items as item index}}
    {{item}} + {{index}}
{{/each}}</pre>
    </div>
</section>

<script type="demo/javascript">

</script>
<script type="text/javascript" src="../../../prd/scripts/common.js"></script>
<script type="text/javascript" src="../../../prd/scripts/kami-template.js"></script>
<script type="text/javascript">

// 获取组件。require("path/to/template")
var Template = Kami.Template;

var variableTpl = '{{content}}';

var variableTpl2 = '{{#content}}';

Demo.log(Template(variableTpl, {
    content: '<div>test</div>'
}))


Demo.log(Template(variableTpl2, {
    content: '<div>test</div>'
}))

var eachTpl = '{{#each data as item te}}{{item}}，{{te}}{{/each}}';

var t = Template(eachTpl, {
    data: [1,2,3]
})
Demo.log(t)

</script>
</body>
</html>