@import "../../../style/usage/core/reset";
@import "../../../style/lib/ani/rotate";
@import "../../../style/usage/fragment/yo-list";
@import "../../../style/usage/fragment/yo-suggest";

.yo-suggest {
    position: absolute;
}

.yo-suggest .action input.nocancel {
    margin-right: 0;
}

.yo-suggest .yo-ico.rotate {
    @include animation(rotate 1s infinite linear);
}

.yo-suggest .action .yo-ico.show {
    display: block;
}

.yo-suggest .action .yo-ico.show-cancel {
    right: .5rem;
}

//确保result覆盖住recommend
.yo-suggest > .cont > .result {
    z-index: 1001;
    background: #fff;
}
