{
    "family": "kami",
    "name": "list",
    "version": "1.0.0",
    "category": "primary",
    "description": "滑动组件基类",
    "dependance": {
        "core": "1.0.0",
        "template": "1.0.0",
        "util": "1.0.0"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/list.git"
    }
}