<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <title>Yo 文档站</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <!-- <link href="source/bootstrap.css" rel="stylesheet">
    <link href="source/patch.css" rel="stylesheet">
    <link href="source/docs.min.css" rel="stylesheet"> -->
    <script src="source/shCore.js"></script>
    <script src="source/shBrushSass.js"></script>
    <link rel="stylesheet" href="source/shCoreDefault.css" />
    <link rel="stylesheet" href="source/app.css" />
</head>
<body>

<!-- Docs master nav -->
<header class="navbar navbar-static-top docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
          <a href="http://ued.qunar.com/mobile/" class="navbar-brand">X1</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://ued.qunar.com/mobile/qapp/doc/">QApp</a>
                </li>
                <li>
                    <a href="http://ued.qunar.com/mobile/kami/doc/">Kami</a>
                </li>
                <li class="active">
                    <a href="index.html">Yo</a>
                </li>
                <li>
                    <a href="http://hy.qunar.com/source/qunarapi.html">QunarAPI</a>
                </li>
                <li>
                    <a href="http://ued.qunar.com/mobile/guide/">TouchGuide</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- Docs page layout -->
{{if banner}}
<div class="docs-header" id="content" style="margin-bottom:0">
    <div class="container">
        <h1>{{banner.title}}</h1>
        <p>{{banner.description}}</p>
    </div>
</div>
{{else}}
<hr style="border-color: #6f5499; margin: 0"/>
{{/if}}
{{if doc}}
<header class="navbar navbar-static-top docs-nav docs-second-nav">
    <div class="container">
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{each doc.pages as page}}
                <li class="{{if page.name == name}}active{{/if}}">
                    <a href="{{page.name}}.html">{{page.title}}</a>
                </li>
                {{/each}}
                <li>
                    <a href="http://ued.qunar.com/mobile/yo/demo/">demo</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
{{else}}
<header class="navbar navbar-static-top docs-nav">
    <div class="container">
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">page.title</a></li>
                 <li><a href="http://ued.qunar.com/mobile/yo/demo/">demo</a></li>
            </ul>
        </nav>
    </div>
</header>
{{/if}}

<div class="container docs-container">
    {{if html}}
        <div id="readme">
            <article class="markdown-body">
                {{html}}
            </article>
        </div>
    {{else}}
    <div class="row">
        <div class="col-md-9" role="main" id="templateCon">
            {{each content as c index}}
            {{if c.type == 'html'}}
            <div class="docs-section">
                {{if c.sub}}
                <h2 id="{{c.tag | anchor}}" class="page-header">{{c.name}}</h2>
                {{else}}
                <h1 id="{{c.tag | anchor}}" class="page-header">{{c.name}}</h1>
                {{/if}}
                {{c.content}}
            </div>
            {{else if c.type == 'scss'}}
                {{c.content.leftHtml}}
            {{/if}}
            {{/each}}
        </div>
        <div class="col-md-3" role="complementary">
            <nav class="docs-sidebar hidden-print hidden-xs hidden-sm">
                <h1>Yo</h1>
                <ul class="nav docs-sidenav" id="templateTree">
                    {{if html}}
                         html
                    {{else}}
                        {{each content as c index}}
                            {{if c.type == 'html'}}
                                {{c.type}}
                            {{else if c.type == 'scss'}}
                                {{c.content.rightHtml}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>
            </nav>
        </div>
    </div>
    {{/if}}
</div>

<!-- Footer -->
<footer class="docs-footer" role="contentinfo">
    <div class="container">
        <p>Made By Qunar Hotel FE Mobile Team. © 2014 - 2015</p>
    </div>
</footer>

<script src="source/jquery.min.js"></script>
<script src="source/bootstrap.js"></script>
<script src="source/docs.min.js"></script>
<script>SyntaxHighlighter.all();</script>
</body>
</html>