@charset "utf-8";
@import "../../lib/fragment/yo-number";

/**
 * yo-number扩展
 */

@include yo-number(
    $name: test,
    $width: 1rem,
    $height: .25rem,
    $border-width: 0,
    $border-color: #1ba9ba,
    $sign-radius: 50%,
    $sign-bgcolor: #1ba9ba,
    $sign-color: #eee,
    $font-size: .14rem
);