@charset "utf-8";
@import "../../lib/fragment/yo-tab";

/**
 * yo-tab扩展
 */

@include yo-tab(
    $name: test,
    $width: 2rem,
    $border-width: 1px,
    $border-color: #1ba9ba,
    $font-size: .12rem,
    $radius: .05rem,
    $on-bgcolor: #1ba9ba,
    $on-color: #fff
){
    margin: auto;
}

@include yo-tab(
    $name: filter,
    $height: .4rem,
    $border-width: 0 0 1px 0,
    $item-border-height: .2rem,
    $item-border-color: map-get($base, border-color)
);

@include yo-tab(
    $name: view,
    $font-size: .12rem
);