.yo-group {
    top: 0.51rem;
}
.header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 51px;
    line-height: 51px;
    background: #CD235C;
    color: #eee;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}


.double-list {
    position: absolute;
    top: .51rem;
    bottom: 0;
    width: 100%;
}

.double-list .yo-group{
    top: 0;
}

.category-list {
    position: absolute;
    left: 0;
    top: 0;
    right: 70%;
    bottom: 0;
    border-right: 0.01rem solid #dddddd;
}
.category-list .item {
    background: #eee;
}
.main-list {
    position: absolute;
    left: 30%;
    top: 0;
    right: 0;
    bottom: 0;
}