@charset "UTF-8";
/**
 * Directory: lib/core/variables.scss
 * CSS Variables 定义各种页面沙粒变量
 * Author: joy.du(飘零雾雨)
 * Edit: 2014.12.5
 */
/**
 * Directory: lib/core/classes.scss
 * Global Classes 约定常规解决方案
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 */
/**
 * 定义响应式方案
 * @method responsive
 * @param {String} $media 指定媒体查询条件
 * 使用方法如下，结合variables中的$media-types：
    @include responsive(phone) {
        .foo {
            background: blue;
        }
    }
 */
/**
 * 定义字体图标
 * @method yofont
 */
/**
 * 定义UA默认外观
 * @method appearance
 * @param {String} $appearance 指定UA外观类型
 */
/**
 * 定义是否可以选中元素
 * @method user-select
 * @param {String} $user-select 指定是否可以选中
 */
/**
 * 定义渐变色值
 * @method gradient
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial
 * @param {String} $gradient 指定渐变取值，与原生语法一致
 */
/**
 * 定义盒模型
 * @method box-sizing
 * @param {String} $box-sizing 的2个值分别为：content-box(标准盒模型) | border-box(怪异盒模型)
 */
/**
 * 定义简单变换
 * @method transform
 * @param {String} $transform 取值与原生语法一致
 */
/**
 * 定义变换原点
 * @method transform-origin
 * @param {String} $transform-origin 取值与原生语法一致
 */
/**
 * 定义动画
 * @method animation
 * @param {String} $animation 取值与原生语法一致
 */
/**
 * 定义补间
 * @method transition
 * @param {String} $transition 取值与原生语法一致
 */
/**
 * Directory: lib/core/reset.scss
 * Css Reset
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 */
*,
::before,
::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fafafa;
    color: #212121;
    font-size: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    font-size: 16px;
}

body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, figure, form, fieldset, legend, input, textarea, button, p, blockquote, th, td, pre, xmp {
    margin: 0;
    padding: 0;
}

body, input, textarea, button, select, pre, tt, code, kbd, samp, optgroup, option {
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    text-align: left;
}

caption, th {
    text-align: inherit;
}

ul, ol, menu {
    list-style: none;
}

fieldset, img {
    border: 0 none;
}

img, object, input, textarea, button, select {
    vertical-align: top;
}

article, aside, footer, header, section, nav, figure, figcaption, hgroup, details, menu, main {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, input, textarea, button, select, small, big {
    font-size: 100%;
}

address, cite, dfn, em, i, optgroup, var {
    font-style: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "\0020";
}

textarea {
    overflow: auto;
}

textarea, input, button {
    outline: none;
    border-radius: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0 none;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

mark {
    background-color: transparent;
}

ins, s, u, del {
    text-decoration: none;
}

input, textarea, button, a {
    -webkit-tap-highlight-color: transparent;
}

a, img {
    -webkit-touch-callout: none;
}

a {
    color: #00afc7;
    text-decoration: none;
}
a:hover {
    color: #ff6600;
}

.g-clear::after, .g-mod::after, #bd::after {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    content: "\0020";
}

@font-face {
    font-family: "fontawesome-webfont";
    src: url("http://source.qunarzz.com/fonts/fontawesome/4.2.0/fontawesome-webfont.eot");
    src: url("http://source.qunarzz.com/fonts/fontawesome/4.2.0/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("http://source.qunarzz.com/fonts/fontawesome/4.2.0/fontawesome-webfont.woff") format("woff"), url("http://source.qunarzz.com/fonts/fontawesome/4.2.0/fontawesome-webfont.ttf") format("truetype"), url("http://source.qunarzz.com/fonts/fontawesome/4.2.0/fontawesome-webfont.svg#iconfont") format("svg");
}
.yo-ico {
    font-family: "fontawesome-webfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.1px;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

html {
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

/**
 * Directory: lib/core/variables.scss
 * CSS Variables 定义各种页面沙粒变量
 * Author: joy.du(飘零雾雨)
 * Edit: 2014.12.5
 */
/**
 * Directory: lib/core/classes.scss
 * Global Classes 约定常规解决方案
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 */
/**
 * 定义响应式方案
 * @method responsive
 * @param {String} $media 指定媒体查询条件
 * 使用方法如下，结合variables中的$media-types：
    @include responsive(phone) {
        .foo {
            background: blue;
        }
    }
 */
/**
 * 定义字体图标
 * @method yofont
 */
/**
 * 定义UA默认外观
 * @method appearance
 * @param {String} $appearance 指定UA外观类型
 */
/**
 * 定义是否可以选中元素
 * @method user-select
 * @param {String} $user-select 指定是否可以选中
 */
/**
 * 定义渐变色值
 * @method gradient
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial
 * @param {String} $gradient 指定渐变取值，与原生语法一致
 */
/**
 * 定义盒模型
 * @method box-sizing
 * @param {String} $box-sizing 的2个值分别为：content-box(标准盒模型) | border-box(怪异盒模型)
 */
/**
 * 定义简单变换
 * @method transform
 * @param {String} $transform 取值与原生语法一致
 */
/**
 * 定义变换原点
 * @method transform-origin
 * @param {String} $transform-origin 取值与原生语法一致
 */
/**
 * 定义动画
 * @method animation
 * @param {String} $animation 取值与原生语法一致
 */
/**
 * 定义补间
 * @method transition
 * @param {String} $transition 取值与原生语法一致
 */
/**
 * Directory: lib/layout/classes.scss
 * Global Document Classes 约定文档级布局方案
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 */
/**
 * document: doc
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 ------------------------
 * @method doc
 * @param {String} $name 定义page-name
 * @param {String} $fixed 定义头尾是否固定
 * @param {Length} $hd-gap 定义主体到viewport顶部的距离
 * @param {Length} $ft-gap 定义主体到viewport底部的距离
 */
/**
* document layout
* Author: joy.du(飘零雾雨)
* Time: 2013.10.17
*/
/**
 * module: m-demo
 * Author: joy.du(飘零雾雨)
 * Time: 2013.10.17
 */
.m-demo {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: 10px;
}
.m-demo .device {
    position: relative;
    width: 365px;
    height: 792px;
    background: url(../../../../bgimg/phone@2x.png) no-repeat;
    background-size: 365px 792px;
}
.m-demo .device .stage {
    position: absolute;
    top: 104px;
    left: 23px;
    width: 320px;
    height: 576px;
    background-color: #fff;
}
.m-demo .code {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin: 10px;
    padding: 10px;
    border-left: 4px solid #D7DBE4;
    background-color: #F0F3F8;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

/**
 * module: m-code
 * Author: joy.du(飘零雾雨)
 * Time: 2013.10.17
 */
.m-code {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #272822;
    color: #51bbe1;
    font-size: 20px;
}
.m-code .method {
    color: #93de08;
}
.m-code .bracket,
.m-code .colon {
    padding-right: 5px;
    color: #fff;
}
.m-code mark {
    background: none;
    color: #ccc;
    font-size: 16px;
}

/**
 * Directory: lib/core/variables.scss
 * CSS Variables 定义各种页面沙粒变量
 * Author: joy.du(飘零雾雨)
 * Edit: 2014.12.5
 */
/**
 * Directory: lib/core/classes.scss
 * Global Classes 约定常规解决方案
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 */
/**
 * 定义响应式方案
 * @method responsive
 * @param {String} $media 指定媒体查询条件
 * 使用方法如下，结合variables中的$media-types：
    @include responsive(phone) {
        .foo {
            background: blue;
        }
    }
 */
/**
 * 定义字体图标
 * @method yofont
 */
/**
 * 定义UA默认外观
 * @method appearance
 * @param {String} $appearance 指定UA外观类型
 */
/**
 * 定义是否可以选中元素
 * @method user-select
 * @param {String} $user-select 指定是否可以选中
 */
/**
 * 定义渐变色值
 * @method gradient
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial
 * @param {String} $gradient 指定渐变取值，与原生语法一致
 */
/**
 * 定义盒模型
 * @method box-sizing
 * @param {String} $box-sizing 的2个值分别为：content-box(标准盒模型) | border-box(怪异盒模型)
 */
/**
 * 定义简单变换
 * @method transform
 * @param {String} $transform 取值与原生语法一致
 */
/**
 * 定义变换原点
 * @method transform-origin
 * @param {String} $transform-origin 取值与原生语法一致
 */
/**
 * 定义动画
 * @method animation
 * @param {String} $animation 取值与原生语法一致
 */
/**
 * 定义补间
 * @method transition
 * @param {String} $transition 取值与原生语法一致
 */
/**
 * Directory: lib/fragment/classes.scss
 * fragment的基础构造
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 */
/**
 * Widget: yo-list
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 ------------------------
 * @method yo-list
 * variables length(8)
 * @param {default|String} $name 定义list名称
 * @param {default|Boole} $is-outline 定义list是否需要轮廓（即外边框）
 * @param {default|Color} $bordercolor 定义list边框色
 * @param {default|Length} $item-padding 定义list项的内补白
 * @param {default|Length} $label-padding 定义list分组标题内补白
 * @param {default|Color} $label-bgcolor 定义list分组标题背景色
 * @param {default|Color} $on-bgcolor 定义list经过/选中背景色
 */
.yo-list {
    overflow: hidden;
    background-color: #fff;
}
.yo-list > .label,
.yo-list > .item {
    border-bottom: 1px solid #dddddd;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.yo-list > .label > .mark,
.yo-list > .item > .mark {
    margin-right: .1rem;
}
.yo-list > .label .col,
.yo-list > .item .col {
    padding: 0.1rem;
}
.yo-list > .label .col:first-child,
.yo-list > .item .col:first-child {
    margin-left: -0.1rem;
}
.yo-list > .label .col:last-child,
.yo-list > .item .col:last-child {
    margin-right: -0.1rem;
}
.yo-list > .label > .flex,
.yo-list > .item > .flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.yo-list > .label {
    padding: 0.03rem 0.1rem;
    background-color: #fafafa;
}
.yo-list > .item {
    padding: 0.1rem;
    color: #212121;
}
.yo-list > .item-input {
    cursor: pointer;
}
.yo-list > .item-input > .input {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: 100%;
    border: 0 none;
    background-color: transparent;
}
.yo-list > .item-on,
.yo-list > a.item {
    cursor: pointer;
}
.yo-list > .item-on:hover, .yo-list > .item-on:active,
.yo-list > a.item:hover,
.yo-list > a.item:active {
    background-color: #f8f8f8;
}

/**
 * Directory: lib/core/variables.scss
 * CSS Variables 定义各种页面沙粒变量
 * Author: joy.du(飘零雾雨)
 * Edit: 2014.12.5
 */
/**
 * Directory: lib/core/classes.scss
 * Global Classes 约定常规解决方案
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 */
/**
 * 定义响应式方案
 * @method responsive
 * @param {String} $media 指定媒体查询条件
 * 使用方法如下，结合variables中的$media-types：
    @include responsive(phone) {
        .foo {
            background: blue;
        }
    }
 */
/**
 * 定义字体图标
 * @method yofont
 */
/**
 * 定义UA默认外观
 * @method appearance
 * @param {String} $appearance 指定UA外观类型
 */
/**
 * 定义是否可以选中元素
 * @method user-select
 * @param {String} $user-select 指定是否可以选中
 */
/**
 * 定义渐变色值
 * @method gradient
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial
 * @param {String} $gradient 指定渐变取值，与原生语法一致
 */
/**
 * 定义盒模型
 * @method box-sizing
 * @param {String} $box-sizing 的2个值分别为：content-box(标准盒模型) | border-box(怪异盒模型)
 */
/**
 * 定义简单变换
 * @method transform
 * @param {String} $transform 取值与原生语法一致
 */
/**
 * 定义变换原点
 * @method transform-origin
 * @param {String} $transform-origin 取值与原生语法一致
 */
/**
 * 定义动画
 * @method animation
 * @param {String} $animation 取值与原生语法一致
 */
/**
 * 定义补间
 * @method transition
 * @param {String} $transition 取值与原生语法一致
 */
/**
 * Directory: lib/element/classes.scss
 * element的基础构造
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 */
/**
 * widget: yo-checked
 * Author: joy.du(飘零雾雨)
 * Time: 2014.11.14
 -----------------------
 * @method yo-checked
 * variables length(8)
 * @param {default | String} $name 定义checked名称
 * @param {default | String} $type 定义checked类型，可选值：[circle | tick]
 * @param {default | Length} $size 定义checked大小
 * @param {default | Boolen} $is-border 定义checked是否需要边框
 * @param {default | Color} $bordercolor 定义checked边框色
 * @param {default | Color} $bgcolor 定义checked背景色
 * @param {default | Color} $on-color 定义checked激活标记色
 * @param {default | Color} $disabled-color 定义checked禁用色
 */
.yo-checked[type="checkbox"] {
    border-radius: .05rem;
    border: 1px solid #dddddd;
    box-shadow: inset 0 0.01rem 0.03rem rgba(100, 100, 100, 0.1);
    background-color: white;
}
.yo-checked[type="radio"] {
    border: 0 none;
    background-color: transparent;
}
.yo-checked[type="checkbox"], .yo-checked[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 0.2rem;
    height: 0.2rem;
    font-size: 0.2rem;
    cursor: pointer;
    vertical-align: middle;
}
.yo-checked[type="checkbox"]::after, .yo-checked[type="radio"]::after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
    content: "●";
    text-shadow: 0 0 .01rem;
    font-size: 70%;
    opacity: 0;
    color: #fff;
}
.yo-checked[type="checkbox"]:checked::after, .yo-checked[type="radio"]:checked::after {
    color: #2b94ff;
    opacity: 1;
}
.yo-checked[type="checkbox"]:disabled::after, .yo-checked[type="radio"]:disabled::after {
    color: #d9d9d9;
}

/**
 * checked演示页面
 * Author: joy.du(飘零雾雨)
 * Time: 2014.11.14
 */
.yo-checked-test[type="checkbox"]::after, .yo-checked-test[type="radio"]::after {
    content: "✓";
}
.checklist {
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #eeeeee;
    box-sizing: border-box;
    overflow: hidden;
}

.yo-list > .item-active {
    background-color: #f8f8f8;
}

.yo-scroll-wrap {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ccc;
    box-sizing: border-box;
    overflow: hidden;
}