{
    "compiler": "component",
    "name": "QApp-plugin-kami-adapter",
    "version": "0.0.5",
    "dependencies": {},
    "main": "src/index.js",
    "author": "xuan.li",
    "description": "kami adapter for qapp.",
    "repository": "git@gitlab.corp.qunar.com:qapp/qapp-plugin-kami-adapter.git",
    "email": "xuan.li@qunar.com",
    "alias": {},
    "export": [
        "index.js"
    ]
}