@import "../../../style/lib/core/merge-extra";
@import "../../../style/lib/core/merge-config";
@import "../../../style/lib/core/reset";
@import "../../../style/lib/element/yo-btn";

.item {
  $main-color: #1ba9ba;
  .flex{
      -webkit-flex: 1;
      flex: 1;
      overflow: auto;
      margin: 0;
      input {
        width:100%;
      }
  }
  .checkbox {
    min-width: 50px;
  }
  .flex-basis {
    flex-basis: 0;
    input {
      -webkit-flex: 1;
      flex: 1;
      width: 100%;
      display: inline-block;
    }
    @include yo-btn(
      $name: pri,
      $bgcolor: #00afc7,
      $border-color: #00afc7,
      $active-bgcolor:$main-color,
      $active-border-color: $main-color
      ){
        -webkit-flex: 1;
        flex: 1;
        height: 30px;
        margin: -5px auto;
        line-height: 30px;
    };
  };
  .switch {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
    div {
      margin-left: .1rem;
      display: inline-block;
    }
    .yo-switch {
      -webkit-flex: 1;
      flex: 1;
      .track {
        margin-left: 0;
      }
    }
  }
}

#content .yo-list .yo-switch > input:checked + .track {
    background-color: #1ba9ba;
}


