<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>水平垂直布局示例</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../style/usage/export/yo-align.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">头部模块</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-align" class="affirm">文档</a>
    </header>
    <div class="flex">
        <div class="yo-align">
            <section class="m-nodata">
                <p class="info">未查询到相关结果</p>
                <span class="yo-btn yo-btn-l">点击重试</span>
            </section>
        </div>
    </div>
    <section class="yo-tab yo-tab-view m-tabview">
        <a href="#" class="item item-y-ico item-on">
            <i class="yo-ico">&#xf04a;</i>
            定位
        </a>
        <a href="#" class="item item-y-ico">
            <i class="yo-ico">&#xf04b;</i>
            无线
        </a>
        <a href="#" class="item item-y-ico">
            <i class="yo-ico">&#xf07a;</i>
            刷新
        </a>
    </section>
</div>

</body>
</html>