{
    "family": "kami",
    "name": "popcalendar",
    "version": "1.0.0",
    "description": "从底部弹出的calendar",
    "category": "business",
    "dependance": {
        "calendar": "1.0.0",
        "dialog": "1.0.0",
        "util": "1.0.0",
        "core": "1.0.0"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/popcalendar.git"
    }
}
