@import "../../../style/usage/core/reset";
@import "../../../style/usage/fragment/yo-list";
@import "../../../style/usage/element/yo-btn";

.open-modal {
    display: block;
    width: 90%;
    margin: .1rem auto auto auto;
    height: .3rem;
}

label {
    @include flex(1);
    display: block;
}

.yo-btn.yo-btn-pri {
    background-color: #00afc7;
    height: 30px;
    margin: -5px auto;
    line-height: 30px;
    width: 100px;
    border: none;
}