<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>carousel Demo</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no">
</head>
<body>
    <div id="content">

    </div>
<!-- <script src="http://192.168.1.104:8080/target/target-script-min.js#anonymous"></script> -->
<script src="/yo/prd/demo/component/carousel/index.js"></script>
</body>
</html>
