@import "../../../style/usage/core/reset";
@import "../../../style/usage/fragment/yo-list";
@import "../../../style/usage/element/yo-btn";
@import "../../../style/usage/element/yo-switch";
#content{
    $main-color: #1ba9ba;
    height: 100%;
    width: 100%;
    h3{
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #333;
        padding-left: 10px;
        // margin-top: 5px;
        background-image: -webkit-linear-gradient(#1ba9ba, #1ba9ba 3px, #fff 4px ,#fff);
        background-image: linear-gradient(#1ba9ba, #1ba9ba 3px, #fff 4px ,#fff);
        text-align: center;
        &::after{
            content: ' ';
            height: 5px;
            width: 5px;
            border-bottom: 1px solid #333;
            border-left: 1px solid #333;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            display: inline-block;
            position: relative;
            margin-left: 5px;
            top: -3px;
        }
    }
    h4{
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        color: #4b4b4b;
        padding-left: 10px;
        // margin-top: 5px;
        background-color: #fff;
        background-image: -webkit-linear-gradient(to right, #1ba9ba, #1ba9ba 3px, #fff 4px ,#fff);
        background-image: linear-gradient(to right, #1ba9ba, #1ba9ba 3px, #fff 4px ,#fff);
        text-align: left;
    }
    .yo-list{
        .item{
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            box-direction: row;
            flex-direction: row;
        }
        .btn-container{
          @include flex(1);
          @include justify-content(center);
          text-align: center;
        }
        .yo-switch{
            >input:checked + .track{
                background-color: $main-color;
            }
        }
        .yo-number{
            //width: 1rem;
        }
    }
    .flex{
        flex: 1;
    }
    @include yo-btn(
        $name: pri,
        $bgcolor: #00afc7,
        $border-color: #00afc7,
        $active-bgcolor:$main-color,
        $active-border-color: $main-color
    ){
        height: 30px;
        margin: -5px auto;
        line-height: 30px;
    };
    @include yo-switch(
        $name: pri,
        $bgcolor:$main-color
    );

    .yo-carousel{
      width: 100%;
        .text{
            position: absolute;
            bottom: 0;
            height: 28px;
            line-height: 28px;
            font-size: 12px;
            background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));
            background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));
            width: 100%;
            color: #fff;
            text-align: left;
            padding-left: 10px;
        }
    }

    .scroller-container{
      flex: 1;
    }
}

.yo-modal-container, .yo-modal-content{
  width: 100% !important;
}
