@charset "UTF-8";
.yo-datepicker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
}

.yo-datepicker > .weeks {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}

.yo-datepicker > .week-bar,
.yo-datepicker .week {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.yo-datepicker > .week-bar > li,
.yo-datepicker .week > li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
}

.yo-datepicker > .week-bar {
  position: relative;
  z-index: 2;
  height: 0.22rem;
  line-height: 0.22rem;
  background-color: #1ba9ba;
  color: #fff;
  font-size: 0.12rem;
}

.yo-datepicker .month-bar,
.yo-datepicker > .sticky-bar {
  height: 0.25rem;
  line-height: 0.25rem;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #000;
  font-size: 0.14rem;
  font-weight: normal;
}

.yo-datepicker > .sticky-bar {
  position: absolute;
  z-index: 1;
  top: 0.22rem;
  left: 0;
  right: 0;
}

.yo-datepicker .week {
  border-bottom: 1px solid #ddd;
  color: #000;
}

.yo-datepicker .week > li {
  position: relative;
  height: 0.54rem;
}

.yo-datepicker .day,
.yo-datepicker .special {
  display: inline-block;
  margin: 0.05rem 0 0.02rem;
  font-size: 0.14rem;
  line-height: 0.24rem;
  vertical-align: top;
}

.yo-datepicker .day {
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 50%;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

.yo-datepicker .special {
  color: #f50;
}

.yo-datepicker .today > .day,
.yo-datepicker .holiday > .day {
  display: none;
}

.yo-datepicker .weekend {
  color: #f00;
}

.yo-datepicker .disabled,
.yo-datepicker .disabled > .special {
  color: #bbb !important;
}

.yo-datepicker .start > .day,
.yo-datepicker .end > .day {
  display: inline-block;
  background-color: #1ba9ba;
  color: #fff;
}

.yo-datepicker .start > .special,
.yo-datepicker .end > .special {
  display: none;
}

.yo-datepicker .start::after,
.yo-datepicker .end::after {
  display: block;
  color: #1ba9ba;
  font-size: 0.14rem;
}

.yo-datepicker .start::after {
  content: "入店";
}

.yo-datepicker .end::after {
  content: "离店";
}

.yo-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.yo-panel > .sticky,
.yo-panel > .scroll-index {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

.yo-panel > .sticky {
  left: 0;
  padding: 0.03rem 0.1rem;
  background-color: #fafafa;
  color: #666;
}

.yo-panel .no-data {
  height: 100%;
  padding-top: 1rem;
  text-align: center;
}
