.yo-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 1.5rem;
  line-height: 0.3rem;
  background-color: white;
}

.yo-select::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.3rem;
  margin-top: -0.15rem;
  content: "\0020";
  border: 1px solid #ccc;
  border-width: 1px 0;
}

.yo-select-item,
.yo-select-item-list,
.yo-select-item ul {
  height: 100%;
}

.yo-select-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.yo-select-item-list ul {
  position: relative;
}

.yo-select-item-list li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
}

.yo-select-item-list li.disabled {
  opacity: .4;
}

.yo-select-item-tag {
  position: absolute;
  top: 50%;
  right: .1rem;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}

.yo-select > .mask {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "\0020";
  pointer-events: none;
  background: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.4) 60%, white);
}

.yo-btn {
  display: inline-block;
  overflow: hidden;
  padding: 0 1.2em;
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
  border-color: #e26704;
  border-radius: 0.02rem;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  background-color: #ff801a;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.yo-btn-disabled {
  opacity: 1;
  cursor: not-allowed;
}

.yo-btn-disabled,
.yo-btn-disabled:focus,
.yo-btn-disabled:active {
  border-color: #ccc;
  background-color: #e0e0e0;
  color: #bbb;
}

.yo-btn-s {
  height: 0.28rem;
  line-height: 0.28rem;
  font-size: 0.12rem;
}

.yo-btn-m {
  height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.14rem;
}

.yo-btn-l {
  height: 0.44rem;
  line-height: 0.44rem;
  font-size: 0.16rem;
}

.yo-btn-stacked {
  display: block;
  width: 100%;
}

.yo-dialog {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: fixed;
  z-index: 1001;
  overflow: hidden;
  border-radius: 0.05rem;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  box-shadow: 0 0 5px rgba(204, 204, 204, 0.5);
  border: 1px solid #ccc;
  min-width: 2.8rem;
  max-width: 90%;
  background: #fff;
  text-align: center;
}

.yo-dialog > .hd {
  position: relative;
  height: 0.44rem;
  background: white;
  line-height: 0.44rem;
}

.yo-dialog > .hd .title {
  overflow: hidden;
  height: 100%;
  margin: 0 60px;
  font-size: 0.16rem;
}

.yo-dialog > .hd .regret,
.yo-dialog > .hd .affirm {
  position: absolute;
  top: 0;
}

.yo-dialog > .hd .regret {
  left: .1rem;
}

.yo-dialog > .hd .affirm {
  right: .1rem;
}

.yo-dialog > .bd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  overflow: auto;
  min-height: .45rem;
  padding: 0.1rem;
  font-size: 0.16rem;
}

.yo-dialog > .ft {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  text-align: center;
}

.yo-dialog > .ft .yo-btn-dialog {
  border-radius: 0;
  border-width: 1px 0 0;
  border-color: #ccc;
  background-color: #fff;
  color: #00afc7;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
}

.yo-dialog > .ft .yo-btn-dialog:active {
  background-color: #f9f9f9;
}

.yo-dialog > .ft .yo-btn-dialog:last-child:not(:only-child),
.yo-dialog > .ft .yo-btn-dialog:only-child {
  font-weight: bold;
}

.yo-dialog > .ft .yo-btn-dialog:last-child:not(:only-child) {
  border-left-width: 1px;
}

.yo-dialog-test {
  height: 3rem;
}

.yo-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
}
