.yo-suggest > .operate {
  position: relative;
  overflow: hidden;
  font-size: 0.14rem;
  line-height: 0.29rem;
  padding: 0.07rem 0.1rem;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.yo-suggest > .operate > .action {
  display: block;
  position: relative;
  z-index: 2;
  height: 0.29rem;
}

.yo-suggest > .operate .input {
  width: 100%;
  height: 100%;
  padding: 0 0.3rem;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 0.05rem;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  background-color: #ccc;
  color: #212121;
  font-size: 0.14rem;
  line-height: 1.5;
  vertical-align: top;
}

.yo-suggest > .operate .yo-ico-delete,
.yo-suggest > .operate .yo-ico-fresh,
.yo-suggest > .operate .yo-ico-stop,
.yo-suggest > .operate .yo-ico-loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 0.08rem;
  color: #999;
}

.yo-suggest > .operate .yo-ico-loading {
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.yo-suggest > .operate .label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
  -webkit-transform: translatex(-50%) translatez(0);
  transform: translatex(-50%) translatez(0);
  color: #fff;
}

.yo-suggest > .operate .placeholder {
  margin-left: .08rem;
}

.yo-suggest > .operate > .cancel {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
  width: 0.7rem;
  padding: .1rem 0;
  color: #00afc7;
  text-align: center;
}

.yo-suggest > .cont {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
}

.yo-suggest > .cont > .recommend,
.yo-suggest > .cont > .result {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.yo-suggest-on > .operate .label {
  left: .1rem;
  -webkit-transform: translatex(0) translatez(0);
  transform: translatex(0) translatez(0);
}

.yo-suggest-on > .operate .yo-ico-delete {
  display: inline-block;
}

.yo-suggest-on > .cont {
  display: block;
  position: absolute;
  z-index: 2501;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: .88rem;
}

.yo-suggest-modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: fixed;
  z-index: 2501;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.yo-suggest-modal > .operate {
  padding-right: 0.7rem !important;
}

.yo-suggest-modal > .cont {
  display: block;
  position: relative;
  top: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
