.yo-tip {
  position: fixed;
  min-width: 1rem;
  max-width: 90%;
  z-index: 3001;
  padding: 0.06rem 0.15rem;
  border-radius: 0.05rem;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

.ani {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ani.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ani.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
}
