<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-actionsheet</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../style/usage/export/yo-actionsheet.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">yo-actionsheet</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-actionsheet" class="affirm">文档</a>
    </header>
    <div class="flex">
        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><div class="yo-actionsheet">
    <div class="menu">
        <h3 class="title">保存图片？</h3>
        <div class="item">存储图像</div>
        <div class="item">拷贝</div>
    </div>
    <ul class="action">
        <li class="item item-light">取消</li>
    </ul>
</div></xmp>
        </section>
    </div>
</div>

<div class="yo-mask"></div>
<div class="yo-actionsheet">
    <div class="menu">
        <h3 class="title">保存图片？</h3>
        <div class="item">存储图像</div>
        <div class="item">拷贝</div>
    </div>
    <ul class="action">
        <li class="item item-light">取消</li>
    </ul>
</div>

</body>
</html>