<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-proportion</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../style/usage/export/yo-proportion.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">yo-proportion</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-proportion" class="affirm">文档</a>
    </header>
    <div class="flex">
        <section class="m-demo">
            <div class="yo-proportion">
                <div class="inner" style="width:50%">
                    <time class="date">2015.10.6</time>
                    <span class="amount">98</span>
                </div>
            </div>
            <div class="yo-proportion">
                <div class="inner" style="width:60%">
                    <time class="date">2015.10.6</time>
                    <span class="amount">98</span>
                </div>
            </div>
            <div class="yo-proportion">
                <div class="inner" style="width:70%">
                    <time class="date">2015.10.6</time>
                    <span class="amount">98</span>
                </div>
            </div>
            <div class="yo-proportion">
                <div class="inner" style="width:70%"></div>
            </div>
        </section>

        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><div class="yo-proportion">
    <div class="inner" style="width:50%">
        <time class="date">2015.10.6</time>
        <span class="amount">98</span>
    </div>
</div>
<div class="yo-proportion">
    <div class="inner" style="width:70%"></div>
</div></xmp>
        </section>

    </div>
</div>

</body>
</html>