<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-picker - 选择</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../style/usage/export/yo-picker.css" />
</head>
<body>
<div class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">yo-picker</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-picker" class="affirm">文档</a>
    </header>
    <div class="flex">
        <section class="m-demo">
            <h2 class="title">常规示例：</h2>
            <div class="yo-picker">
                <span class="mask"></span>
                <ul class="list">
                    <li class="item">1</li>
                    <li class="item">2</li>
                    <li class="item">3</li>
                    <li class="item">4</li>
                    <li class="item">5</li>
                    <li class="item">6</li>
                    <li class="item">7</li>
                </ul>
                <span class="unit">小时</span>
            </div>
        </section>
        <section class="m-demo">
            <h2 class="title">多列示例：</h2>
            <div class="yo-picker">
                <span class="mask"></span>
                <ul class="list">
                    <li class="item">1</li>
                    <li class="item">2</li>
                    <li class="item">3</li>
                    <li class="item">4</li>
                    <li class="item">5</li>
                    <li class="item">6</li>
                    <li class="item">7</li>
                </ul>
                <span class="unit">分</span>
                <ul class="list">
                    <li class="item">1</li>
                    <li class="item">2</li>
                    <li class="item">3</li>
                    <li class="item">4</li>
                    <li class="item">5</li>
                    <li class="item">6</li>
                    <li class="item">7</li>
                </ul>
                <span class="unit">秒</span>
                <ul class="list">
                    <li class="item">1</li>
                    <li class="item">2</li>
                    <li class="item">3</li>
                    <li class="item">4</li>
                    <li class="item">5</li>
                    <li class="item">6</li>
                    <li class="item">7</li>
                </ul>
                <span class="unit">小时</span>
            </div>
        </section>
    </div>
</div>

</body>
</html>