<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-tooltip - 浮层提示</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../style/usage/export/yo-tooltip.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">yo-tooltip</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-tooltip" class="affirm">文档</a>
    </header>
    <div class="flex">
        <section class="m-demo">
            <ul class="yo-list">
                <li class="item">list item</li>
                <li class="item">list item</li>
                <li class="item">list item</li>
                <li class="item">list item</li>
                <li class="item">list item</li>
                <li class="item">list item</li>
                <li class="item">list item</li>
                <li class="item">list item</li>
                <li class="item">list item</li>
                <li class="item">list item</li>
                <li class="item">list item</li>
                <li class="item">list item</li>
            </ul>
            <div class="yo-tooltip">请填写商户电话<span class="arrow arrow-right"></span></div>
        </section>

        <section class="m-desc">
            <h3 class="title">示例描述：</h3>
            <xmp><div class="yo-tooltip">
    请填写商户电话
    <span class="arrow arrow-right"><!-- 如果不需要箭头则不添加本节点 --></span>
</div></xmp>
        </section>

    </div>
</div>

</body>
</html>