{
    "family": "kami",
    "name": "bizpaydialog",
    "version": "0.0.4",
    "description": "添加新的银行卡和选择银行卡组件",
    "dependance": {
        "core": "0.0.1",
        "template": "0.0.1",
        "util": "0.0.1",
        "selectlist": "0.0.5"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/bizpaydialog.git"
    }
}
