{
    "family": "kami",
    "name": "imagelazyload",
    "version": "1.0.0",
    "description": "移动端图片懒加载",
    "category": "tool",
    "dependance": {
        "base": "1.0.0",
        "util": "1.0.0"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/imagelazyload.git"
    }
}