{
    "family": "kami",
    "name": "dialog",
    "version": "1.0.0",
    "category": "primary",
    "description": "弹出框组件，也是弹出框的基类",
    "dependance": {
        "overlay": "1.0.0",
        "template": "1.0.0",
        "util": "1.0.0"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/dialog.git"
    }
}