{
    "family": "kami",
    "name": "grouplist",
    "version": "1.0.0",
    "description": "分组列表",
    "category": "primary",
    "dependance": {
        "template": "1.0.0",
        "list": "1.0.0",
        "util": "1.0.0"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/grouplist.git"
    }
}