{
    "family": "kami",
    "name": "loading",
    "version": "1.0.0",
    "description": "loading加载中组件",
    "category": "primary",
    "dependance": {
        "overlay": "1.0.0",
        "util": "1.0.0",
        "core": "1.0.0"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/loading.git"
    }
}