{
    "family": "kami",
    "name": "confirm",
    "version": "1.0.1",
    "description": "确认取消弹出框组件",
    "category": "primary",
    "dependance": {
        "core": "1.0.0",
        "util": "1.0.0",
        "dialog": "1.0.0"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/confirm.git"
    }
}