@charset "utf-8";
@import "../fragment/yo-list";

.m-list {
    // do something
    > .yo-list-group {
        .yo-btn:not(:first-child) {
            margin-left: .1rem;
        }
    }
    // 图片大小
    .mark img {
        @include square(.6rem);
    }
    // 类别标题
    .title {
        padding: .18rem .1rem .03rem;
        border-bottom: 1px solid map-get($base, bordercolor);
    }
}