{
    "family": "kami",
    "name": "tip",
    "version": "1.0.0",
    "description": "支持自动消失的提示组件",
    "category": "primary",
    "dependance": {
        "overlay": "1.0.0",
        "template": "1.0.0",
        "util": "1.0.0",
        "core": "1.0.0"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/tip.git"
    }
}