{
    "family": "kami",
    "name": "overlay",
    "version": "1.0.0",
    "description": "浮层组件的父类",
    "category": "primary",
    "dependance": {
        "core": "1.0.0",
        "template": "1.0.0",
        "util": "1.0.0"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/overlay.git"
    }
}