@charset "UTF-8";
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

html {
  background-color: #fafafa;
  color: #212121;
  font-size: 100px;
  -webkit-user-select: none;
  user-select: none;
}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  html[ios="true"] {
    font-size: 200px;
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  html[ios="true"] {
    font-size: 300px;
  }
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  html[ios="true"] body {
    font-size: 28px;
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  html[ios="true"] body {
    font-size: 42px;
  }
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit;
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset,
img {
  border: 0;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}

textarea,
pre,
xmp {
  overflow: auto;
}

textarea {
  resize: vertical;
}

input,
textarea,
button,
select
a {
  outline: 0 none;
}

input,
textarea,
button,
select {
  color: inherit;
}

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

mark {
  background-color: transparent;
}

a,
ins,
s,
u,
del {
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

a {
  color: #00afc7;
}

.g-clear::after,
.g-mod::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020";
}

@font-face {
  font-family: yofont;
  src: url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.woff") format("woff"), url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.ttf") format("truetype");
}

.yo-ico {
  font-family: yofont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.yo-stacked {
  display: block;
  margin: 0.2rem 0.1rem;
}

.yo-flex {
  height: 100%;
}

.yo-flex,
.yo-flex .flex-inherit {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.yo-flex > .flex,
.yo-flex .flex-inherit,
.yo-flex .flex-inherit > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}

.yo-flex > .flex,
.yo-flex .flex-inherit > .flex {
  overflow: auto;
}

.yo-flex > .flex > .yo-flex,
.yo-flex .flex-inherit > .flex > .yo-flex {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.yo-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.yo-list > .label,
.yo-list > .item,
.yo-list .front {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: translatez(0);
  transform: translatez(0);
}

.yo-list > .label > .mark:not(:last-child),
.yo-list > .label > .yo-ico:not(:last-child),
.yo-list > .item > .mark:not(:last-child),
.yo-list > .item > .yo-ico:not(:last-child),
.yo-list .front > .mark:not(:last-child),
.yo-list .front > .yo-ico:not(:last-child) {
  margin-right: .1rem;
}

.yo-list > .label > .flex,
.yo-list > .item > .flex,
.yo-list .front > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
}

.yo-list > .label > .mark,
.yo-list > .label > .yo-ico,
.yo-list > .label > .col,
.yo-list > .label > .flex,
.yo-list > .item > .mark,
.yo-list > .item > .yo-ico,
.yo-list > .item > .col,
.yo-list > .item > .flex,
.yo-list .front > .mark,
.yo-list .front > .yo-ico,
.yo-list .front > .col,
.yo-list .front > .flex {
  display: block;
}

.yo-list > .label.tr,
.yo-list > .item.tr,
.yo-list .front.tr {
  padding: 0;
}

.yo-list > .label {
  padding: 0.03rem 0.1rem;
  border: 1px solid #eee;
  border-width: 0 0 1px 0;
  background-color: #fafafa;
  color: #666;
  font-size: 0.13rem;
  font-weight: normal;
}

.yo-list > .label > .col {
  padding: 0.03rem 0.1rem;
}

.yo-list > .label:not(:first-child) {
  border-width: 1px 0;
  margin-top: -1px;
}

.yo-list > .item,
.yo-list .front {
  padding: 0.11rem 0.1rem 0.12rem;
}

.yo-list > .item {
  background-color: #fff;
  color: #212121;
  font-size: 0.14rem;
  background-image: -webkit-linear-gradient(#ddd, #ddd);
  background-image: linear-gradient(#ddd, #ddd);
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: 0.1rem bottom;
}

.yo-list > .item:last-child {
  margin-bottom: -1px;
  background-image: -webkit-linear-gradient(#ccc, #ccc);
  background-image: linear-gradient(#ccc, #ccc);
  background-position: 0 bottom;
}

.yo-list > .item-stacked {
  display: block;
}

.yo-list > .item-stacked > .mark {
  padding-bottom: .05rem;
}

.yo-list > .item-input > .yo-input {
  height: auto;
  padding: 0;
  border: 0;
}

.yo-list > .item.item-active:active,
.yo-list > .item.item-active:active .front,
.yo-list > .item.item-light,
.yo-list > .item.item-light .front {
  background-color: #f8f8f8;
}

.yo-list > .item > .col {
  padding: 0.11rem 0.1rem 0.12rem;
}

.yo-list-inset {
  margin: 0.2rem 0.1rem 0 0.1rem;
  border-radius: 0.02rem;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
}

.yo-list-group > .label {
  padding: 0.18rem 0.1rem 0.03rem;
  border-color: #ccc;
  background-color: transparent;
}

.yo-list-group > .label > .col {
  padding: 0.18rem 0.1rem 0.03rem;
}

.yo-checked {
  display: inline-block;
  position: relative;
  width: 0.2rem;
  height: 0.2rem;
  font-size: 0.12rem;
  font-family: yofont;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.yo-checked > input,
.yo-checked > .type {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.yo-checked > input {
  z-index: 2;
  opacity: 0;
}

.yo-checked > .type {
  border-radius: 0.05rem;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  background-color: transparent;
  line-height: 0.2rem;
}

.yo-checked > .type::after {
  content: "";
  color: transparent;
}

.yo-checked > input:checked + .type::after {
  color: #2b94ff;
}

.yo-checked > input:disabled + .type {
  opacity: .4;
  background-color: #e0e0e0 !important;
}

.yo-checked > input:disabled + .type::after {
  color: #bbb !important;
}

.yo-checked-a > .type {
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-a > input:checked + .type {
  border-color: #2b94ff;
}

.yo-checked-b > .type {
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-b > input:checked + .type {
  border-color: #2b94ff;
  background-color: #2b94ff;
}

.yo-checked-b > input:checked + .type::after {
  color: white;
}

.yo-checked-c > .type {
  border-radius: 50%;
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-c > input:checked + .type {
  border-color: #2b94ff;
  background-color: #2b94ff;
}

.yo-checked-c > input:checked + .type::after {
  color: white;
}

.yo-checked-d > .type::after {
  content: "";
}

.yo-checked-e > .type {
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-e > .type::after {
  content: "";
}

.yo-checked-e > input:checked + .type {
  border-color: #2b94ff;
}

.yo-checked-f > .type {
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-f > .type::after {
  content: "";
}

.yo-checked-f > input:checked + .type {
  border-color: #2b94ff;
  background-color: #2b94ff;
}

.yo-checked-f > input:checked + .type::after {
  color: white;
}

.yo-checked-g > .type {
  border-radius: 50%;
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-g > .type::after {
  content: "";
}

.yo-checked-g > input:checked + .type {
  border-color: #2b94ff;
  background-color: #2b94ff;
}

.yo-checked-g > input:checked + .type::after {
  color: white;
}

.yo-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 100px;
}

.yo-nav > .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  margin: .1rem;
  background-color: gray;
}

.yo-nav > .item:nth-child(3) {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 1;
  order: 1;
}

.yo-nav > div {
  color: red;
}

.yo-nav > div::after {
  content: "\0020";
}

.img {
  display: inline-block;
  overflow: hidden;
  border-radius: 20px;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  border: 10px solid blue;
  background-color: blue;
}

.test {
  display: inline-block;
  overflow: hidden;
  zoom: 1;
  border-radius: 50%;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  border: 1px solid blue;
  background-color: red;
  padding: 10px;
}

.test > div {
  width: 100px;
  height: 100px;
  background-color: #fff;
}
