@charset "UTF-8";
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

html {
  background-color: #fafafa;
  color: #212121;
  font-size: 100px;
  -webkit-user-select: none;
  user-select: none;
}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  html[ios="true"] {
    font-size: 200px;
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  html[ios="true"] {
    font-size: 300px;
  }
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  html[ios="true"] body {
    font-size: 28px;
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  html[ios="true"] body {
    font-size: 42px;
  }
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit;
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset,
img {
  border: 0;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}

textarea,
pre,
xmp {
  overflow: auto;
}

textarea {
  resize: vertical;
}

input,
textarea,
button,
select
a {
  outline: 0 none;
}

input,
textarea,
button,
select {
  color: inherit;
}

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

mark {
  background-color: transparent;
}

a,
ins,
s,
u,
del {
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

a {
  color: #00afc7;
}

.g-clear::after,
.g-mod::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020";
}

@font-face {
  font-family: yofont;
  src: url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.woff") format("woff"), url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.ttf") format("truetype");
}

.yo-ico {
  font-family: yofont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.yo-stacked {
  display: block;
  margin: 0.2rem 0.1rem;
}

.yo-flex {
  height: 100%;
}

.yo-flex,
.yo-flex .flex-inherit {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.yo-flex > .flex,
.yo-flex .flex-inherit,
.yo-flex .flex-inherit > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}

.yo-flex > .flex,
.yo-flex .flex-inherit > .flex {
  overflow: auto;
}

.yo-flex > .flex > .yo-flex,
.yo-flex .flex-inherit > .flex > .yo-flex {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.yo-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.yo-header {
  position: relative;
  height: 0.44rem;
  line-height: 0.44rem;
  border-bottom: 1px solid #1ba9ba;
  background-color: #1ba9ba;
  color: #fff;
  font-size: 0.18rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.yo-header > .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0.6rem;
}

.yo-header > .regret,
.yo-header > .affirm {
  position: absolute;
  top: 0;
  width: 0.6rem;
  cursor: pointer;
  font-size: 0.14rem;
}

.yo-header > .regret:active,
.yo-header > .affirm:active {
  opacity: .5;
}

.yo-header > .regret.yo-ico,
.yo-header > .regret > .yo-ico,
.yo-header > .affirm.yo-ico,
.yo-header > .affirm > .yo-ico {
  color: #7ff;
  font-size: 0.2rem;
}

.yo-header > .regret {
  left: 0;
  padding-left: 0.15rem;
  text-align: left;
}

.yo-header > .affirm {
  right: 0;
  padding-right: 0.15rem;
  text-align: right;
}

.yo-header-normal {
  border-color: #ddd;
  background-color: #eee;
  color: #212121;
}

.yo-header-normal > .regret.yo-ico,
.yo-header-normal > .regret > .yo-ico,
.yo-header-normal > .affirm.yo-ico,
.yo-header-normal > .affirm > .yo-ico {
  color: #212121;
}

.yo-datepicker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
}

.yo-datepicker > .weeks {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}

.yo-datepicker > .week-bar,
.yo-datepicker .week {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.yo-datepicker > .week-bar > li,
.yo-datepicker .week > li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
}

.yo-datepicker > .week-bar {
  position: relative;
  z-index: 2;
  height: 0.22rem;
  line-height: 0.22rem;
  background-color: #1ba9ba;
  color: #fff;
  font-size: 0.12rem;
}

.yo-datepicker .month-bar,
.yo-datepicker > .sticky-bar {
  height: 0.25rem;
  line-height: 0.25rem;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #000;
  font-size: 0.14rem;
  font-weight: normal;
}

.yo-datepicker > .sticky-bar {
  position: absolute;
  z-index: 1;
  top: 0.22rem;
  left: 0;
  right: 0;
}

.yo-datepicker .week {
  border-bottom: 1px solid #ddd;
  color: #000;
}

.yo-datepicker .week > li {
  position: relative;
  height: 0.54rem;
}

.yo-datepicker .day,
.yo-datepicker .special {
  display: inline-block;
  margin: 0.05rem 0 0.02rem;
  font-size: 0.14rem;
  line-height: 0.24rem;
  vertical-align: top;
}

.yo-datepicker .day {
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 50%;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

.yo-datepicker .special {
  color: #f50;
}

.yo-datepicker .today > .day,
.yo-datepicker .holiday > .day {
  display: none;
}

.yo-datepicker .weekend {
  color: #f00;
}

.yo-datepicker .disabled,
.yo-datepicker .disabled > .special {
  color: #bbb !important;
}

.yo-datepicker .start > .day,
.yo-datepicker .end > .day {
  display: inline-block;
  background-color: #1ba9ba;
  color: #fff;
}

.yo-datepicker .start > .special,
.yo-datepicker .end > .special {
  display: none;
}

.yo-datepicker .start::after,
.yo-datepicker .end::after {
  display: block;
  color: #1ba9ba;
  font-size: 0.14rem;
}

.yo-datepicker .start::after {
  content: "入店";
}

.yo-datepicker .end::after {
  content: "离店";
}

.m-code {
  -webkit-user-select: text;
  user-select: text;
  margin: .1rem;
  padding: .1rem;
  border-radius: 5px;
  background: #272822;
  color: #51bbe1;
  font-size: .2rem;
}

.m-code .method {
  color: #93de08;
}

.m-code .bracket,
.m-code .colon {
  padding-right: 5px;
  color: #fff;
}

.m-code mark {
  color: #ccc;
  font-size: .14rem;
}

.m-code .version {
  background-color: #fff;
  color: red;
  font-size: .12rem;
  border-radius: .02rem;
  padding: 0 0.02rem;
}

.m-code {
  position: relative;
  margin-top: 4rem;
}
