@charset "utf-8";
@import "../../lib/widget/yo-rating";

/**
 * yo-rating扩展
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */

@include yo-rating(
    $name: test,
    $url: "star2.png",
    $item-width: .18rem,
    $item-height: .18rem
);