{
    "family": "kami",
    "name": "doublelist",
    "version": "1.0.0",
    "description": "双列表",
    "category": "business",
    "dependance": {
        "core": "1.0.0",
        "template": "1.0.0",
        "util": "1.0.0",
        "pagelist": "1.0.0",
        "imagelazyload": "1.0.0"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/doublelist.git"
    }
}