{
    "family": "kami",
    "name": "bizvericodedialog",
    "version": "0.0.5",
    "description": "",
    "dependance": {
        "core": "0.0.1",
        "template": "0.0.1",
        "pagelist": "0.1.11",
        "util": "0.0.1"
    },
    "repository": {
        "git": "git@gitlab.corp.qunar.com:kami/bizvericodedialog.git"
    }
}