@charset "utf-8";
/**
 * module: m-code
 * Author: joy.du(飘零雾雨)
 * Time: 2013.10.17
 */
.m-code {
    @include user-select(text);
    margin: .1rem;
    padding: .1rem;
    border-radius: 5px;
    background: #272822;
    color: #51bbe1;
    font-size: .2rem;
    .method {
        color: #93de08;
    }
    .bracket,
    .colon {
        padding-right: 5px;
        color: #fff;
    }
    mark {
        color: #ccc;
        font-size: .14rem;
    }
    .version {
        background-color: #fff;
        color: red;
        font-size: .12rem;
        border-radius: .02rem;
        padding: 0 .02rem;
    }
}