@import '../../modal/src/style';

@-webkit-keyframes action-sheet-up {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes action-sheet-up {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes action-sheet-down {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 100%, 0);
    }
}

@keyframes action-sheet-down {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100%, 0);
    }
}

.ani.action-sheet-up {
    -webkit-animation-name: action-sheet-up;
    animation-name: action-sheet-up;
}

.ani.action-sheet-down {
    -webkit-animation-name: action-sheet-down;
    animation-name: action-sheet-down;
}

.yo-actionsheet {
    width: 100%;
}