@import "../../../style/usage/core/reset";
@import "../../../style/usage/fragment/yo-list";
@import "../../../style/usage/element/yo-btn";

.open-modal {
    display: block;
    width: 90%;
    margin: .1rem auto auto auto;
    height: .3rem;
}

label.prop-name {
    @include flex(1);
    display: block;
}

.picker-wrap {
    margin-top: .1rem;
}

.yo-btn.yo-btn-pri {
    background-color: #00afc7;
    height: 30px;
    margin: -5px auto;
    line-height: 30px;
    width: 100px;
    border: none;
}

h4 {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #4b4b4b;
    padding-left: 10px;
    // margin-top: 5px;
    background-image: linear-gradient(to right, #fff 4px, #ddd);
    text-align: left;
}
