@charset "utf-8";
@import "../../../style/lib/core/merge-extra";
@import "../../../style/lib/core/merge-config";
@import "../../../style/lib/core/reset";
@import "../../../style/lib/fragment/yo-list";
@import "../../../style/lib/element/yo-btn";

.loading-demo {
  $main-color: #1ba9ba;
  @include yo-btn(
      $name: pri,
      $bgcolor: #00afc7,
      $border-color: #00afc7,
      $active-bgcolor:$main-color,
      $active-border-color: $main-color
  ){
      height: 30px;
      margin: -5px auto;
      line-height: 30px;
  };
  .h4{
      height: auto;
      line-height: 25px;
      font-size: 12px;
      color: #4b4b4b;
      padding-left: 10px;
      background-color: #fff;
      @include gradient(linear, left, #1ba9ba, #1ba9ba 3px, #fff 4px, #fff);
      text-align: left;
  }
  .item{
      margin-top: 5px;
      @include flexbox();
      height: 70px;
      flex-direction: right;
      div:first-child {
        @include flex(1);
        color: cadetblue;
        font-size: 14px;
        min-width: 130px;
      }
      div:nth-child(2) {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        text-align: center;
      }
      button {
        text-align: center;
        min-width: 160px;
        padding: 0;
      }
    }
}
